/* finalfrank : Sun, 27 Feb 2011 15:33:35 +0800 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}
pre{font-size: 1em ;}
.article-content{_height: 1% ;overflow: hidden ;_overflow: none;}
.article-content p{margin-bottom:1em;}


body {
font-size:12px;
color:#000;
font-family:tahoma,verdana,"細明體",sans-serif;
background:#27282e url(http://pic.pimg.tw/rionlab/13f83398c91fef98fada79e5733cac28.jpg) repeat-x center top;
}

a {text-decoration:none;color:#999;}
a:hover {color:#333;}

#content {}
#content a {}
#content a:hover {}

#authority {
position:absolute;
left:15px;
top:42px;
z-index:50000;
}

#authority a {margin-right:10px;color:#fff;}

#authority a:hover {color:#999;}

a#newpost {}
a#backstage {}

a#newpost:hover {}
a#backstage:hover {}

/* ----------------bg-layout---------------- */

#body-div {
position:relative;
background:#fff url(http://pic.pimg.tw/rionlab/6b1d6fcc12f04ff62f0ec186fd9cac9d.jpg) no-repeat center top;
width:900px;
margin:0px auto;
}

#container {}
#container2 {}
#container3 {}

#footer {
background:#3c5a78 url(http://pic.pimg.tw/rionlab/326d91b69f06111990271c379f77fcab.jpg) no-repeat center top;
width:900px;
margin:0px auto;
padding:20px 0px;
text-align:center;
clear:both;
}

#footer p {
color:#fff;
display:block;
width:900px;
margin-bottom:10px;
}

#footer #bottom, #footer #bottom a {color:#fff;}
#footer #bottom a:hover {color:#000;}


/* ----------------header---------------- */

#header {
width:365px;
height:135px;
padding:115px 0px 0px 535px;
margin-bottom:5px;
}

#login-bar {
position:absolute;
right:15px;
top:42px;
color:#fff;
}

#login-bar a {color:#fff;}
#login-bar a:hover {color:#999;}

#banner {
width:350px;
height:70px;
overflow:hidden;
color:#fff;
text-align:right;
}

#banner .skiplink, #blog-category {display:none;}

#banner h1 {margin-bottom:5px;}

#banner h1 a {
font-size:15px;
font-weight:bold;
color:#fff;
}

#banner h1 a:hover {color:#888;}

#banner h2 {color:#888;}

#navigation {
display:block;
width:400px;
height:30px;
position:absolute;
left:235px;
top:220px;
}

#navigation li {
display:block;
float:left;
width:100px;
padding-right:0px;
height:30px;
}

#navigation li a {
display:block;
width:100px;
height:30px;
font-size:0px;
letter-spacing:-2px;
text-indent:-8000px;
}

#link-album a {}
#link-blog a {}
#link-guestbook a {}
#link-profile a {}

/* ----------------body---------------- */

#content {
width:665px;
float:right;
display:inline;
overflow:hidden;
}

#links {
line-height:25px;
width:230px;
float:left;
display:inline;
overflow:hidden;
}

#spotlight {
border-bottom:1px solid #d5d6da;
margin-bottom:30px;
background:#dfe0e4;
}


#spotlight h5 {
width:645px;
padding:0px 10px;
display:block;
height:30px;
line-height:30px;
font-size:12px;
border-bottom:2px solid #42586c;
border-top:2px solid #42586c;
background:#4b657d;
color:#fff;
}

#spotlight-text {padding:10px 10px;color:#384a5b;}


/* ----------------blog---------------- */

.article {position:relative;}

.article a:hover {}

.article-head {
position:relative;
display:block;
width:665px;
height:30px;
background:#4b657d;
overflow:hidden;
zoom:1;
}

.article-body {
width:660px;
padding:0px;
}

.article-footer {
width:665px;
padding:0px;
padding-bottom:10px;
}

.publish {
display:block;
float:left;
height:30px;
width:95px;
text-align:center;
line-height:30px;
color:#384a5b;
background:#59758e;
font-weight:bold;
}

.day, .time {display:none;}

.title {
overflow:hidden;
font-size:12px;
display:block;
float:right;
height:30px;
width:560px;
padding-left:10px;
line-height:30px;
}

.title h2 a {color:#fff!important;font-weight:bold;}
.title a:hover {color:#000!important;}

.article-content {margin-top:10px;}

.article-content a {color:#000;}
.article-content a:hover {color:#000;}

.more a {color:#777;}
.more a:hover {color:#000;}

.bookmark {}

.bookmark span {display:none;}

.author {
text-align: left;
margin-top:10px;
}

.article-footer {
overflow:hidden;_overflow: none;_height: 1%;
padding-top:10px;
line-height:140%;
margin-top:10px;
}

.history {
float:right;
width:310px;
padding-left:24px;
border-left:1px solid #dcdcdc;
}

.refer {
float:left;
width:310px;
}

.back-to-top {
display:block;
clear:both;
text-transform: uppercase;
font:10px Century Gothic;
letter-spacing:0;
text-align: right;
padding:15px 0px 10px 0px!important;
width:665px;
height:20px;
}

.back-to-top a {
display:block;
width:660px;
padding:0px 5px 0px 0px;
line-height:20px;
color:#dcdcdc;
}

.back-to-top a:hover {color:#888;}

/*--------------------------list*/

.main-list {
width:665px!important;
margin:10px auto;
}

.main-list table {
width:665px!important;
margin:0px auto;
}

.main-list th {
line-height: 30px;
color:#fff;
background:#4b657d;
border-bottom:2px solid #42586c;
padding:0px 10px;
}

th.list-date {}
th.list-comment {}

th.list-title, th.list-visit {}

.main-list td {
font-size:11px;
line-height: 25px;
padding: 0px 10px;
background:#dfe0e4;
border-bottom:1px solid #999;
}

.main-list td a {color:#666;}
.main-list td a:hover {color:#000;}

.list-num {display:none;}

.list-date {
font:12px;
color:#666;
letter-spacing:0;
padding:0px 5px;
}

td.list-title {
display:block!important;
overflow:hidden!important;
}

.list-title img {
float: right;
margin-left:3px;
}

#murmur-list td.list-date {padding: 5px;}

.list-visit, .list-comment {}

#view-mode {margin-bottom:15px;}

/*--------------------------post-box*/

#user-post {
width:530px;
margin:0px auto;
}

.user-post-title {
background:#4b657d;
height:30px;
line-height:30px;
padding-left:10px;
margin:10px 0px;
}

.user-post-title span {
color:#fff;
height:30px;
line-height:30px;
font-weight:bold;
}

.post-comment {
width:530px;
margin:20px auto;
}

#content .post-comment a {
display:block;
margin:0px auto;
text-align:center;
line-height:30px;
color:#fff;
width:170px;
height:30px;
background:#4b657d;
border:1px solid #42586c;
}

#content .post-comment a:hover {color:#000;}

.single-post {
overflow:hidden;
zoom:1;
margin-bottom: 20px;
padding-bottom: 10px;
border-bottom:1px solid #d5d6da;
background:#dfe0e4;
color:#384a5b;
}

.post-info {
background:#4b657d;
height:30px;
font-size:11px;
*font-size:10px;
line-height: 30px;
margin-bottom: 10px;
color:#000;
border-bottom:2px solid #42586c;
position:relative;
padding-left: 70px;
_padding-top: 5px;
}

.post-info a {color:#000;}
.post-info a:hover {color:#fff;}


.post-info .floor {
background:#59758e;
width: 60px;
height:30px;
text-align: center;
color:#384a5b;
font: bold 13px Century Gothic;
line-height:30px;
display: block;
position: absolute;
left:0px;
top:0px;
}

.post-photo {
width:95px;
float:left;
margin-left:10px;
display:inline;
}

.post-photo img {border:1px solid #333;}

.post-text {
float:right;
width:410px;
margin-bottom:5px;
}

.reply-text {
float:right;
width:390px;
background:#59758e;
margin-right:10px;
margin-top:20px;
display:inline;
padding:5px 5px 5px 5px;
min-height:30px;
_height:30px;
color:#384a5b;
}

.reply-text p {
display:none;
}

.single-post.secret {
border-bottom:1px solid #d5d6da;
background:#dfe0e4;
}

.single-post.secret .post-text {
color:#384a5b;
float:none;
width:auto;
padding-left:10px;
padding-top:10px;
font-size:12px;
}

#trackback-box #trackback-url {margin:10px 0x;}

#trackback-box input {
font:11px arial;
padding:2px;
margin-left:5px;
margin-bottom:15px;
border:1px solid #d5d6da;
background:#dfe0e4;
color:#384a5b;
}

#trackback-box input#trackback-input {
border:1px solid #d5d6da;
background:#dfe0e4;
color:#384a5b;
width:300px;
margin:0px;
padding:3px
}

#trackback-box  .post-text {
width:auto;
float:none;
padding:0px 10px;
}

/*--------------------------comment-form */

#comment-form {
border-bottom:2px solid #d5d6da;
background:#dfe0e4;
color:#384a5b;
padding:10px 5px;
width:520px;
margin:10px auto;
}


#comment-form p {
text-align:right;
margin:0px 5px 5px;
}

#comment-form table {
width:100%;
border:none;
}

#comment-form table tr.comment-form-title {display: none;}

#comment-form table td {
vertical-align:top;
border:none;
padding:2px 5px;
}

#comment-form table th {
color:#999;
vertical-align:top;
width:70px;
border:none;
padding:2px 5px;
text-align:right;
}

#comment-form table th font {display: none;}

#comment-form input {
height:17px;
font-family:Arial;
font-size:11px;
border:none;
border-bottom:1px solid #d5d6da;
color:#384a5b;
background:none;
width:420px;
}

#comment-form input.radio {
border:none;
width:15px;
background:none;
margin:0;
padding:0;
}

#comment-form input#blogcommenttext_name {
width:400px;
}

#comment-form input#send-comment {
border:0px solid #d5d6da;
background:#59758e;
color:#fff;
width:100px;
height:20px;
}

#comment-form textarea {
width:420px;
height:120px;
font-family:Arial;
font-size:11px;
line-height:18px;
border:0px solid #d5d6da;
background:#d5d6da;
color:#333;
}

/*--------------------------pages*/

.page {
margin:10px 0px;
font-size:11px;
font-family:Century Gothic;
text-align:center;
}

.page a {
margin:0px 5px;
padding:0px 3px;
}

.page a:hover,
.page span {
background:#dfe0e4;
color:#384a5b;
padding:0px 3px;
}

/* ----------------links---------------- */

.box {
margin-bottom:5px;
padding-bottom:15px;
background:#dfe0e4 url(http://pic.pimg.tw/rionlab/1a0969db24e80c39ec414230ce5c60e0.jpg) no-repeat center bottom;
}

.box-title {
clear:both;
display:block;
background:#666f7d url(http://pic.pimg.tw/rionlab/5de7f57505cdff4921ee0bad5d833af8.jpg) no-repeat center top;
width:210px;
line-height:24px;
overflow:hidden;
padding:0px 10px;
margin-bottom:10px;
color:#fff;
font-weight:bold;
}

.box-text {
color:#999;
padding:0px 5px!important;
}

.box-text a {color:#999;}
.box-text a:hover {color:#000;}

#hot-article .box-text a,
#murmur .box-text a,
#crumb .box-text a,
#visitor .box-text a,
#headshot .box-text a,
#category .box-text a,
#announce .box-text a,
#recent-article .box-text a,
#latest-comment .box-text a,
#archive .box-text a {
color:#999;
display:block;
width:220px;
line-height:25px;
border-bottom:1px solid #cccdd4;
}

#hot-article .box-text a:hover,
#murmur .box-text a:hover,
#crumb .box-text a:hover,
#visitor .box-text a:hover,
#headshot .box-text a:hover,
#category .box-text a:hover,
#announce .box-text a:hover,
#recent-article .box-text a:hover,
#latest-comment .box-text a:hover,
#archive .box-text a:hover {
color:#000;
border-bottom:1px solid #cccdd4;
}


.box-text select {
display:block;
width:220px;
height:25px;
line-height:25px;
border:0px;
background:none;
border-bottom:1px solid #cccdd4;
color:#999;
}

#calendar .box-text {
width:210px;
margin:0px auto;
}

.month-nav {
background:#d5d6da;
}

#calendar table {
width:210px;
margin:0px auto;
text-align:center;
}

#calendar table tr th {text-align:center;width:30px;}

#calendar table tr td {color:#666;}
#calendar table tr td a {font-weight:bold;color:#000;text-decoration:underline!important;}
#calendar table tr td a:hover {font-weight:bold;color:#fff;text-decoration:underline!important;}

.today {text-align:center;background:#d5d6da;font-weight:bold;color:#000!important;}


#visitor .box-text ul, #crumb .box-text ul {
display:block;
width:180px!important;
margin:0px auto;
overflow:hidden;
zoom:1;
}

.box-more {
padding-top:15px;
display:block;
clear:both;
width:220px;
}

#visitor .box-text li, #crumb .box-text li {
display:block;
width:50px;
height:50px;
float:left;
padding:5px;
}

#visitor .box-text li a , #crumb .box-text li a {
display:block;
width:50px;
height:50px;
border-bottom:0px;
}

#visitor .box-text li a:hover, #crumb .box-text li a:hover {border-bottom:0px!important;}

.user-img {
margin-right:10px!important;
margin-bottom:10px!important;
width:94px!important;
height:94px!important;
padding:3px!important;
border:1px solid #cccdd4;
background:#dfe0e4;
}

.user-img img {
border:2px solid #999;
padding:0px!important;
margin:0px!important;
}




#user-info .box-text {padding-left:0px;}

#user-info .user-img {
display:block;
float:left;

}

#user-info .user-action {float:left;margin-top:0px;}

#user-info .user-action input {
color:#999;
background:none;
border:0px;
border-bottom:1px solid #cccdd4;
margin:0px 0px 10px 0px;
height:24px;
width:105px;
font-size:12px;
padding:0px!important;
padding-top:3px!important;
}

#user-info .user-action input:hover {
color:#000;
background:none;
border:0px;
border-bottom:1px solid #cccdd4;
}

#user-info dl {clear:both;}

#user-info dl dd {margin:0px!important;}

#user-info dl dd a {display:inline;}

#user-info dl dt {
filter:alpha(opacity=100);
opacity:1;
padding-right:2px;
font-weight:bold;
margin:0 5px 0 0 \9;
margin:0;
float:left;
}