/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: 18px;
}

body {
  background-color: white;
  font-family: "Fira Sans", "Helvetica Neue", helvetica, arial, clean, sans-serif;
  font-weight: 200;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.2em;
  margin: 1.5em 0 0 0;
  font-weight: 700;
}

h1 {
  font-size: 1.5em;
}

h1.entry-title a, h1.entry-title a:visited {
  text-decoration: none;
  color: #222;
}

p {
  margin: 1em 0 1em 0;
  letter-spacing: -0.1px;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

ul, ol {
  margin: 0.5em 0 .5em 1.35em;
}

ul {
  list-style-type: none;
}

ul li:before {
  content: "–";
  position: relative;
  left: -8px;
}

ul li {
  text-indent: -12px;
}

blockquote p:first-child:before {
  content: "“";
  margin-right: 2px;
}

blockquote {
  font-style: italic;
  color: #555;
  margin: 1em 0;
  padding-left: 2em;
  padding-right: 2em;
}

blockquote p:last-child:after {
  content: "”";
}

iframe {
  margin: 2em auto;
  display: block;
}

hr {
  border: 0;
  height: 0;
  width: 50%;
  margin: 1.3em auto;
  margin-right: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(255, 255, 255, 1);
}

.continue {
  text-align: right;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 100%;
  text-align: left;
  max-width: 40em;
  margin: 3em auto 2em auto;
  padding: 0 2em;
  line-height: 1.4em;
  color: #333;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
    font-size: 0.8em;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 1px solid #ddd;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .3em;
    margin: 1em 0;
  }

  #post ul,
  #post ol {
    margin-left: 1.2pxem;
  }

  #post ul {
    list-style: none;
  }

  code {
    // border: 1px solid #ddd;
    // background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

.gist-file {
  font-size: 0.8em;
  line-height: 1.2em;
}