DIV#FJY, DIV#FJZ DIV#FJY, DIV#FJZ DIV#FJY div, DIV#FJZ DIV#FJY span, DIV#FJZ DIV#FJY object, DIV#FJZ DIV#FJY h1, DIV#FJZ DIV#FJY h2, DIV#FJZ DIV#FJY p, DIV#FJZ DIV#FJY a, DIV#FJZ DIV#FJY img, DIV#FJZ DIV#FJY strong, DIV#FJZ DIV#FJY ol, DIV#FJZ DIV#FJY ul, DIV#FJZ DIV#FJY li, DIV#FJZ DIV#FJY form, DIV#FJZ DIV#FJY label, DIV#FJZ DIV#FJY table, DIV#FJZ DIV#FJY tr, DIV#FJZ DIV#FJY td {
font-family: Arial, Verdana, Serif !important;
font-size: 12px !important;
font-weight: normal !important;
font-style: normal !important;
color: #000000 !important;
text-transform: none !important;
text-decoration: none !important;
letter-spacing: normal !important;
word-spacing: normal !important;
line-height: normal !important;
text-align: left !important;
vertical-align: baseline !important;
direction: ltr !important;
background-color: #FFF !important;
background-image: none !important;
background-repeat: repeat !important;
background-position: 0 0 !important;
background-attachment: scroll !important;
width: auto !important;
height: auto !important;
top: auto !important;
right: auto !important;
bottom: auto !important;
left: auto !important;
margin-top: 0 !important;
margin-right: 0 !important;
margin-bottom: 0 !important;
margin-left: 0 !important;
padding-top: 0 !important;
padding-right: 0 !important;
padding-bottom: 0 !important;
padding-left: 0 !important;
border-top-width: 0 !important;
border-right-width: 0 !important;
border-bottom-width: 0 !important;
border-left-width: 0 !important;
border-top-color: #000000 !important;
border-right-color: #000000 !important;
border-bottom-color: #000000 !important;
border-left-color: #000000 !important;
border-top-style: none !important;
border-right-style: none !important;
border-bottom-style: none !important;
border-left-style: none !important;
position: static !important;
visibility: visible !important;
z-index: auto !important;
overflow-x: visible !important;
overflow-y: visible !important;
white-space: normal !important;
clip: auto !important;
float: none !important;
clear: none !important;
cursor: auto !important;
list-style-image: none !important;
list-style-position: outside !important;
list-style-type: disc !important;
marker-offset: auto !important;
opacity: 1 !important;
filter: alpha(opacity=100) !important;
}
DIV#FJZ {
	position: fixed !important;
	z-index: 999999999 !important;
	left: 1px !important;
	bottom: 1px !important;
	border-width: 0px !important;
	background-color: transparent !important;
	background-image: url(http://feedjit.com/images/tf/bg1.png) !important;
	background-repeat: no-repeat !important;
	width: 364px !important;
	height: 163px !important;
}
DIV#FJZ DIV#FJY a, DIV#FJZ DIV#FJY a img {
	cursor: pointer !important;
	text-decoration: underline !important;
	color: #3366CC !important;
}
DIV#FJZ DIV#FJY {
	background-color: transparent !important;
	margin: 12px 17px 10px 5px !important;
}
div#FJZ div#FJY div.fjh {
	position: relative !important;
	padding: 1px !important;
}
div#FJZ div#FJY div.fjhMin {
	position: absolute !important;
	right: 1px !important;
	top: 1px !important;
}
div#FJZ div#FJY div.fjhLogout {
	position: absolute !important;
	right: 3px !important;
	top: 1px !important;
}
div#FJZ div#FJY img#fjpLogo {
	vertical-align: middle !important;
	border-width: 0px !important;
	padding: 0px 3px 0 0 !important;
}
div#FJZIcon {
	position: fixed !important;
	line-height: normal !important;
	vertical-align: middle !important;
	background-color: transparent !important;
	background-image: none !important;
	background-repeat: repeat !important;
	background-attachment: scroll !important;
	width: 16px !important;
	height: 16px !important;
	margin-top: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	padding-top: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important;
	border-top-width: 0 !important;
	border-right-width: 0 !important;
	border-bottom-width: 0 !important;
	border-left-width: 0 !important;
	visibility: visible !important;
	z-index: 9999999 !important;
	white-space: normal !important;
	clip: auto !important;
	float: none !important;
	clear: none !important;
	cursor: pointer !important;
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}
DIV#FJZIcon img {
	border-width: 0px;
	padding: 0;
	margin: 0;
}
