/* expect7 : Thu, 02 Jan 2014 10:27:37 +0800 */
#banner {
background: url(http://pic.pimg.tw/pixnetvisual/1388481407-293177857.jpg) top center no-repeat !important;
}

/*以下請勿變動*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
}

html {
line-height: 1;
}

ol, ul {
list-style: none;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

caption, th, td {
text-align: left;
font-weight: normal;
vertical-align: middle;
}

q, blockquote {
quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
content: "";
content: none;
}

a img {
border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
display: block;
}

* {
margin: 0;
padding: 0;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

fieldset, img {
border: 0;
}

address, caption, cite, code, dfn, th, var {
font-style: normal;
font-weight: normal;
}

ol, ul {
list-style: none;
}

caption, th {
text-align: left;
}

h1, h2, h3, h4, h5, h6 {
font-size: 100%;
font-weight: normal;
}

q:before, q:after {
content: '';
}

abbr, acronym {
border: 0;
}

pre {
font-size: 1em;
}

.article-content {
_height: 1%;
overflow: hidden;
_overflow: none;
}

.article-content p {
margin-bottom: 1em;
}

a {
text-decoration: none;
}

br {
letter-spacing: normal;
}

body {
font-size: small;
font-family: "微軟正黑體";
background: #e7ebf2;
background: #e7ebf2 url(http://pic.pimg.tw/pixnetvisual/1386737311-1818868209.jpg) top center repeat-x;
}

#body-div {
width: 980px;
margin: 0 auto;
}

a {
color: #006842;
text-decoration: none;
}
a:hover {
color: red;
}

#authority {
z-index: 999;
position: absolute;
background: url(http://pic.pimg.tw/pixnetvisual/1386737313-233421781.png) top left no-repeat;
width: 70px;
height: 20px;
margin: 16px 0 0 70px;
padding: 58px 0 0 0;
cursor: pointer;
}
#authority:hover > a {
display: block;
transition: all 0.4s ease;
}
#authority a {
display: none;
float: left;
margin: 0px 10px 0px 0px;
font-size: 16px;
background: #405e9b;
padding: 0px 0 0 55px;
width: 130px;
line-height: 45px;
color: #fff;
font-size: 12px;
}
#authority a:hover {
line-height: 55px;
}
#authority #newpost {
background: #405e9b url(http://pic.pimg.tw/pixnetvisual/1386737311-1692338393.png) top left no-repeat;
background-position: 20px 15px;
-webkit-border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
-ms-border-radius: 5px 5px 0 0;
-o-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
position: relative;
}
#authority #newpost::after {
left: 10px;
top: -8px;
position: absolute;
display: block;
content: "";
height: 0px;
width: 0px;
border-bottom: 8px solid #405e9b;
border-right: 8px solid transparent;
border-left: 8px solid transparent;
border-top: 0px solid transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
opacity: 1;
}
#authority #newpost:hover {
background: #334b7c url(http://pic.pimg.tw/pixnetvisual/1386737311-1692338393.png) top left no-repeat;
background-position: 20px 18px;
}
#authority #backstage {
background: #405e9b url(http://pic.pimg.tw/pixnetvisual/1386737312-979459859.png) top left no-repeat;
background-position: 20px 15px;
-webkit-border-radius: 0px 0px 5px 5px;
-moz-border-radius: 0px 0px 5px 5px;
-ms-border-radius: 0px 0px 5px 5px;
-o-border-radius: 0px 0px 5px 5px;
border-radius: 0px 0px 5px 5px;
}
#authority #backstage:hover {
background: #334b7c url(http://pic.pimg.tw/pixnetvisual/1386737312-979459859.png) top left no-repeat;
background-position: 20px 18px;
}

#container {
background: url(http://pic.pimg.tw/pixnetvisual/1386737311-1818868209.jpg) top center repeat-x;
}
#container #container2 #container3 {
width: 980px;
margin: 0 auto;
padding-top: 54px;
position: relative;
}
#container #container2 #container3 #header {
width: 100%;
height: 524px;
background: white;
padding: 54px 0 10px 0;
margin: 0px 0 20px 0;
position: relative;
}
#container #container2 #container3 #header #login-bar {
position: absolute;
bottom: 10px;
left: 20px;
color: #1c2a47;
font-size: 12px;
}
#container #container2 #container3 #header #login-bar a {
color: #1c2a47;
}
#container #container2 #container3 #header #banner {
background: url(http://pic.pimg.tw/pixnetvisual/1388481407-293177857.jpg) top center no-repeat;
width: 100%;
height: 330px;
position: absolute;
top: 0;
}
#container #container2 #container3 #header #banner h1 {
color: #334b7c;
font-size: 18px;
line-height: 28px;
position: absolute;
top: 345px;
left: 315px;
height: 30px;
overflow: hidden;
}
#container #container2 #container3 #header #banner h1 a {
font-weight: bold;
color: #334b7c;
font-size: 18px;
}
#container #container2 #container3 #header #banner .skiplink {
display: none;
}
#container #container2 #container3 #header #banner h2 {
font-size: 12px;
color: #808080;
position: absolute;
top: 375px;
left: 315px;
line-height: 19px;
padding: 0 30px 0 0;
height: 73px;
overflow: hidden;
}
#container #container2 #container3 #header #banner #blog-category {
display: none;
}
#container #container2 #container3 #header #navigation {
overflow: hidden;
_overflow: none;
_height: 1%;
top: -36px;
left: 15px;
position: absolute;
background: url(http://pic.pimg.tw/pixnetvisual/1386737311-4186921930.png) top left no-repeat;
width: 250px;
padding-top: 55px;
cursor: pointer;
}
#container #container2 #container3 #header #navigation:hover > li {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
opacity: 1;
transition: all 0.4s ease;
display: block;
}
#container #container2 #container3 #header #navigation li {
display: none;
float: left;
margin: 0px 10px 0px 0px;
font-size: 16px;
background: #405e9b;
padding: 0px 0 0 55px;
width: 130px;
line-height: 45px;
position: relative;
}
#container #container2 #container3 #header #navigation li a {
font-size: 13px;
color: #fff;
}
#container #container2 #container3 #header #navigation li:hover {
line-height: 55px;
color: #000;
}
#container #container2 #container3 #header #navigation li#link-album {
background: #405e9b url(http://pic.pimg.tw/pixnetvisual/1386737310-2243120032.png) top left no-repeat;
background-position: 20px 15px;
-webkit-border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
-ms-border-radius: 5px 5px 0 0;
-o-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
}
#container #container2 #container3 #header #navigation li#link-album::after {
left: 10px;
top: -8px;
position: absolute;
display: block;
content: "";
height: 0px;
width: 0px;
border-bottom: 8px solid #405e9b;
border-right: 8px solid transparent;
border-left: 8px solid transparent;
border-top: 0px solid transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
opacity: 1;
}
#container #container2 #container3 #header #navigation li#link-album:hover {
background: #334b7c url(http://pic.pimg.tw/pixnetvisual/1386737310-2243120032.png) top left no-repeat;
background-position: 20px 18px;
}
#container #container2 #container3 #header #navigation li#link-blog {
background: #405e9b url(http://pic.pimg.tw/pixnetvisual/1386737310-1810828136.png) top left no-repeat;
background-position: 20px 15px;
}
#container #container2 #container3 #header #navigation li#link-blog:hover {
background: #334b7c url(http://pic.pimg.tw/pixnetvisual/1386737310-1810828136.png) top left no-repeat;
background-position: 20px 18px;
}
#container #container2 #container3 #header #navigation li#link-guestbook {
background: #405e9b url(http://pic.pimg.tw/pixnetvisual/1386737310-2243120032.png) top left no-repeat;
background-position: 20px 15px;
}
#container #container2 #container3 #header #navigation li#link-guestbook:hover {
background: #334b7c url(http://pic.pimg.tw/pixnetvisual/1386737310-2243120032.png) top left no-repeat;
background-position: 20px 18px;
}
#container #container2 #container3 #header #navigation li#link-profile {
background: #405e9b url(http://pic.pimg.tw/pixnetvisual/1386737312-3982623016.png) top left no-repeat;
background-position: 20px 15px;
-webkit-border-radius: 0px 0px 5px 5px;
-moz-border-radius: 0px 0px 5px 5px;
-ms-border-radius: 0px 0px 5px 5px;
-o-border-radius: 0px 0px 5px 5px;
border-radius: 0px 0px 5px 5px;
}
#container #container2 #container3 #header #navigation li#link-profile:hover {
background: #334b7c url(http://pic.pimg.tw/pixnetvisual/1386737312-3982623016.png) top left no-repeat;
background-position: 20px 18px;
}

#main {
width: 980px;
}
#main #content {
width: 720px;
float: left;
}
#main #content #spotlight {
width: 950px;
height: 70px;
background: #f1f3f8;
padding: 10px 15px;
position: absolute;
border-top: 1px solid #e5e7eb;
border-bottom: 1px solid #e5e7eb;
top: 515px;
left: 0px;
}
#main #content #spotlight h5 {
color: white;
text-align: Center;
padding: 3px 0px;
margin-bottom: 5px;
display: none;
}
#main #content #spotlight #spotlight-text {
font-size: 12px;
color: #808080;
line-height: 16px;
}
#main #content #article-area #article-box #view-mode #display {
text-align: right;
margin: 5px 0px;
}

#article-main #article-area {
position: relative;
background: white;
margin-bottom: 20px;
border: 1px solid #c4cde1;
box-shadow: 0px 1px 0px #d8ddeb;
}

#article-main .article {
background: transparent;
border: 0px;
box-shadow: 0px;
}

.article {
position: relative;
background: white;
margin-bottom: 20px;
padding: 15px;
border: 1px solid #c4cde1;
box-shadow: 0px 1px 0px #d8ddeb;
}
.article ul.article-head {
border-bottom: 1px solid #e5e5e5;
padding: 5px 5px 5px 0px;
margin-bottom: 10px;
}
.article ul.article-head li.publish {
position: absolute;
top: 0;
left: 0;
color: #fff;
font-family: verdana;
background: #3f67c0;
display: inline-block;
padding: 5px 10px;
font-size: 10px;
}
.article ul.article-head li.title {
margin: 15px 0 5px 0px;
width: 400px;
line-height: 18px;
}
.article ul.article-head li.title h2 {
color: #3b5998;
line-height: 22px;
width: 660px;
}
.article ul.article-head li.title h2 a {
font-size: 15px;
color: #3b5998;
}
.article #content .recommended-posts3.recommended-posts {
color: #666666 !important;
}
.article #content .recommended-posts3.recommended-posts a {
color: #666666 !important;
}
.article div.article-body .bookmark {
position: absolute;
top: 10px;
right: 10px;
}
.article div.article-body .article-content {
font-size: 微軟正黑體;
line-height: 160%;
margin: 5px 0px;
font-size: 14px;
color: #131313;
background: #edeff4;
padding: 15px;
}
.article div.article-body .article-content img {
max-width: 100%;
max-height: 100%;
margin: 10px 0;
}
.article div.article-body .article-content .more {
background: url(http://pic.pimg.tw/pixnetvisual/1386737312-820360649.png) top center no-repeat;
margin-top: 20px;
position: absolute;
bottom: 55px;
right: 17px;
}
.article div.article-body .article-content .more a {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) 0;
opacity: 0;
width: 113px;
height: 12px;
display: block;
}
.article div.article-body p.author {
text-align: right;
margin: 5px 0px 10px 0px;
padding: 5px;
display: inline-block;
color: #3b5998;
font-size: 12px;
}
.article div.article-body p.author a {
color: #3b5998;
}
.article div.article-body .forward {
text-align: right;
color: #3b5998;
}
.article div.article-body .forward a {
color: #3b5998;
}
.article #blog-main .article div.article-footer ul.refer {
display: none;
}
.article div.article-footer {
line-height: 18px;
}
.article div.article-footer ul.refer {
padding-bottom: 5px;
margin-bottom: 35px;
}
.article div.article-footer ul.refer a {
color: #3b5998;
}
.article div.article-footer .history {
padding-bottom: 5px;
margin-bottom: 5px;
}
.article div.article-footer .back-to-top {
position: absolute;
bottom: 10px;
right: 10px;
color: #3f67c0;
}
.article div.article-footer .back-to-top a {
color: #3f67c0;
}

#user-post {
padding: 0 10px;
}
#user-post p {
line-height: 18px;
}
#user-post .user-post-box#trackback-box {
margin-bottom: 20px;
}
#user-post .user-post-box#comment-box .post-comment {
text-align: right;
margin: 5px 0px;
font-size: medium;
}
#user-post .user-post-box h3.user-post-title {
background: #edeff4 url(http://pic.pimg.tw/pixnetvisual/1386737310-1361655181.png) top left no-repeat;
background-position: 2px 5px;
color: #3b5998;
padding: 5px 10px 5px 20px;
font-size: 13px;
margin-bottom: 10px;
}
#user-post .user-post-box h3.user-post-title > img {
display: none;
}
#user-post .user-post-box div.user-post-text ul.single-post {
margin-bottom: 0px;
padding: 10px;
overflow: hidden;
_overflow: none;
_height: 1%;
}
#user-post .user-post-box div.user-post-text ul.single-post.secret .post-text {
margin: 0px;
width: 628px;
}
#user-post .user-post-box div.user-post-text ul.single-post li.post-info {
padding-bottom: 5px;
margin-bottom: 10px;
position: relative;
color: #405e9b;
font-size: 12px;
}
#user-post .user-post-box div.user-post-text ul.single-post li.post-info .floor {
position: absolute;
right: 10px;
font-size: 14px;
}
#user-post .user-post-box div.user-post-text ul.single-post li.post-info .user-name {
font-size: 12px;
color: #405e9b;
font-family: verdana;
}
#user-post .user-post-box div.user-post-text ul.single-post li.post-info .user-name a {
color: #405e9b;
}
#user-post .user-post-box div.user-post-text ul.single-post li.post-photo {
width: 50px;
float: left;
text-align: Center;
}
#user-post .user-post-box div.user-post-text ul.single-post li.post-photo img {
width: 50px;
}
#user-post .user-post-box div.user-post-text ul.single-post li.post-text {
width: 540px;
float: left;
margin: 0 0 10px 20px;
background: #fff;
border: 1px solid #bdc6d8;
color: #2d2d2d;
padding: 10px 20px;
}
#trackback-box #user-post .user-post-box div.user-post-text ul.single-post li.post-text {
width: auto;
float: none;
}
#user-post .user-post-box div.user-post-text ul.single-post li.reply-text {
width: 540px;
float: right;
margin: 0 5px 20px 0px;
background: #edeff4;
padding: 10px 20px;
line-height: 20px;
color: #666;
}
#user-post .user-post-box div.user-post-text ul.single-post li.reply-text p {
color: #070303;
position: relative;
text-align: right;
margin-top: 10px;
font-size: 12px;
font-family: 微軟正黑體;
color: #666;
}
#user-post .user-post-box div.user-post-text ul.single-post li.reply-text p a {
margin: 0 5px 0 0px;
background: #cdd8f4;
padding: 3px 5px;
color: #666;
}

.main-list {
background: #aaaaaa;
padding: 10px;
margin-bottom: 15px;
}
.main-list h3 {
background: #888888;
padding: 5px 10px;
margin-bottom: 10px;
}
.main-list table {
width: 95%;
margin: 10px;
}
.main-list table tr th {
border: 1px solid #888888;
padding: 2px;
}
.main-list table tr td {
border: 1px solid #888888;
padding: 2px;
}

.page {
margin-bottom: 20px;
text-align: center;
}

.page a,
.page SPAN {
padding: 3px 5px;
line-height: 120%;
margin: 0 3px;
background: #fff;
border: 1px solid #c4cde1;
color: #3b5998;
padding: 5px 12px;
font-family: verdana;
}

.page SPAN {
font-size: 13px;
border: 0px;
color: #3b5998;
background: transparent;
padding: 5px px;
font-family: verdana;
}

#links {
width: 230px;
float: right;
border-left: 3px solid #c3cce0;
padding: 0 0 0 15px;
}
#links .box {
color: #666;
font-size: 12px;
margin-bottom: 15px;
}
#links .box a {
color: #666;
}
#links .box .box-title {
background: url(http://pic.pimg.tw/pixnetvisual/1386737311-3343284906.png) top center no-repeat;
width: 241px;
height: 23px;
text-align: left;
padding: 4px;
font-size: 13px;
color: #405e9b;
position: relative;
left: -46px;
padding: 10px 0 0 50px;
}
#links .box .box-text {
line-height: 18px;
border: 1px solid #c4cde1;
border-top: 1px solid #e5e5e5;
background: #fff;
margin: 0 0 0 -5px;
width: 203px;
padding: 5px 10px;
}
#links .box .box-text ul {
padding-left: 10px;
}
#links .box .box-text li {
line-height: 18px;
}
#links .box .box-text li {
margin: 5px 0px;
list-style-image: url(http://pic.pimg.tw/pixnetvisual/1388378335-2447764673.png);
}

#user-info.box {
position: absolute;
top: 360px;
left: 30px;
width: 255px;
height: 105px;
border: 1px solid #e5e7eb;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
background: #fff;
}
#user-info.box h4.box-title {
display: none;
}
#user-info.box .box-text {
background: transparent;
border: 0px;
}
#user-info.box .box-text dl {
position: absolute;
left: 105px;
top: 8px;
width: 142px;
height: 87px;
overflow: hidden;
}
#user-info.box .box-text div.user-action {
position: absolute;
top: 115px;
left: 0px;
}
#user-info.box .box-text div.user-action .add_friend {
cursor: pointer;
}
#user-info.box .box-text div.user-action .add_subs {
position: absolute;
left: 105px;
top: 1px;
cursor: pointer;
}

#visitor div.box-text ul {
_height: 1%;
overflow: hidden;
_overflow: none;
}
#visitor div.box-text ul li {
float: left;
list-style: none !important;
}

#crumb div.box-text ul {
_height: 1%;
overflow: hidden;
_overflow: none;
}
#crumb div.box-text ul li {
float: left;
list-style: none !important;
}

#broadcast div.box-text #followed-murmurs ul {
border-bottom: 1px dashed #777777;
_height: 1%;
overflow: hidden;
_overflow: none;
}

.broadcast-photo {
float: left;
width: 40px;
}

#search.box {
position: absolute;
top: 0px;
right: 10px;
}
#search.box h4.box-title {
display: none;
}
#search.box div.box-text {
background: transparent;
border: 0px;
width: auto;
}
#search.box div.box-text form {
position: relative;
}
#search.box div.box-text form #search-target {
width: 250px;
padding: 7px 0;
background: #fff;
}
#search.box div.box-text form #search-submit {
border: 0px;
background: transparent;
font-size: 13px;
font-family: 微軟正黑體;
position: absolute;
top: 0px;
right: 0px;
color: #666;
cursor: pointer;
padding: 10px 20px;
}
#search.box div.box-text form ul li {
list-style: none !important;
}
#search.box div.box-text form ul li #search-target {
padding-left: 10px;
}

#counter.box {
position: absolute;
top: 612px;
right: 0px;
}
#counter.box h4.box-title {
display: none;
}
#counter.box div.box-text {
background: transparent;
border: 0px;
width: auto;
}
#counter.box div.box-text ul li {
float: left;
margin: 0 10px;
color: #1c2a47;
}
#counter.box div.box-text ul li span {
margin: 0 0 0 5px;
}

#calendar div.box-text table {
width: 100%;
text-align: center;
font-size: 12px;
margin: 0 auto;
font-family: verdana;
}
#calendar div.box-text table tbody tr {
line-height: 18px;
border: 1px solid #e7ebf2;
text-align: center;
color: #000;
font-weight: bold;
}
#calendar div.box-text table tbody tr th {
text-align: center;
}
#calendar div.box-text table tbody tr th.current-month {
text-align: center;
}
#calendar div.box-text table tbody tr td {
padding: 1px;
border: 1px solid #e7ebf2;
padding: 5px;
text-align: center;
}
#calendar div.box-text table tbody tr td a {
background: #e7ebf2;
display: block;
}

#calendar .month-nav {
position: relative;
line-height: 23px;
height: 25px;
}
#calendar .month-nav .cal-backward {
background: #e7ebf2;
font-family: verdana;
position: relative;
left: 0px;
text-align: center;
}
#calendar .month-nav .cal-forward {
background: #e7ebf2;
font-family: verdana;
position: relative;
right: 0px;
text-align: center;
}

#category div.box-text ul {
margin: 5px 0;
}
#category div.box-text ul li {
list-style-image: url(http://pic.pimg.tw/pixnetvisual/1388378334-2186104977.png) !important;
margin: 0px;
line-height: 16px;
}

#powered div.box-text ul li {
list-style: none !important;
}

.pixblogad-new #pixblogad-banner {
border-radius: 4px;
margin-bottom: 15px;
background: #E2E2E2 !important;
border: 1px solid #d6d6d6 !important;
}

.pixblogad-new #pixblogad-text {
border-radius: 4px;
background: #e2e2e2 !important;
border: 1px solid #d6d6d6 !important;
overflow: hidden;
}
.pixblogad-new #pixblogad-text a {
padding-left: 45px;
}

#footer {
clear: both;
background: #3b5998;
padding: 15px 10px;
text-align: center;
color: #fff;
line-height: 19px;
}
#footer a {
color: #fff;
}

input[type="button"] {
background: #f1f3f8;
border: 0px;
padding: 6px 25px !important;
font-family: 微軟正黑體;
}