@charset "utf-8";
@viewport {
    width: device-width;
    initial-scale: 1.0;
    maximum-scale: 2.0;
    user-scalable: 1;
}
/* 去除搜尋區下方廣告 */
p[style="padding-bottom:10px;"]{ display:none;}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■  共通 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
html, body{ background:none; width:100%; overflow-x:hidden;}

/* 1000 大廣告 
#BH-bigbanner, #BH-bigbanner *{ width:100% !important;}*/

/* 主選單 */
#BH-main_menu{ width:100%; height:45px; background-position:left bottom; background-color:#e6f2f9; background-repeat:repeat-x; border-width:1px 0;}
#BH-main_menu li{ background-position:right center;}
#BH-main_menu a{ line-height:45px; padding:0 20px; font-weight:bold; font-size:15px;}

/* 麵包屑 */
#BH-path{ position:relative;}
#BH-pathbox{ margin:0 10px;}
#BH-pathbox img{ zoom:1; margin-top:7px;}
#BH-fbshare{ float:right; width:auto !important;}

/* 搜尋區 */
.BH-search2{ zoom:1.2;}
.BH-search2 input{ -webkit-appearance:none;}
.BH-search2 select, .BH-search2 button{ font-size:15px;}
.BH-search2 button{ width:70px;}
.BH-search2 em{ display:none;}

/* 頁碼按鈕 */
#BH-pagebtn{ padding-bottom:20px;}
#BH-pagebtn a{ font-size:18px; line-height:180%; padding:0 20px;}

/* 子板按鈕 */
.FM-tags{ border-bottom:none; zoom:1.5; margin-bottom:3px;}
.FM-tags a{ height:auto; border:1px solid #CCC; margin-bottom:3px;}



/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■  哈啦區A頁 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* 區塊標題 */
#BH-master h4{ padding:10px 0; font-size:24px; background-size:100% 140%; text-align:center;}
#BH-master h4 img{ display:none;}

/* 大圖 */
.FM-abox1{ margin:0 auto 10px auto;}

/* 熱門推薦 */
.FM-atag1{ margin-bottom:0; zoom:1.5; margin-bottom:-2px;}
.FM-abox2A{ width:20%; padding:10px 0 0 0;}
.FM-abox2A a{ display:block; float:none !important; clear:both; width:120px; margin:0 auto; border:none; font-size:15px;}
.FM-abox2A p{ display:none;}

/* 哈啦區達人 */
.FM-abox8 div{ width:48%; font-size:18px; line-height:1.8;}
.FM-abox8 button{ font-size:15px;}

/* 右側 - 作品介紹 */
.FM-rbox12{ display:none;}
.tableA h5:nth-of-type(3){ display:none;}

/* ------------- 直立 -------------*/
@media screen and (device-width: 768px) and (orientation : portrait){
/* 大圖 */
.FM-abox1{ zoom:1.1; margin:0 auto 10px auto;}

/* 哈啦區達人 */
.FM-abox8 div{ width:48%; font-size:15px;}

}



/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■  哈啦區B頁 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */


/* 文章列表表格 */
.FM-blist{ border-top:none;}
.FM-blist5 a, .FM-blist6 a{ color:#999999;}
.FM-blist2 a{ -webkit-transform:none;}
.FM-blist a:hover{}
.FM-blist td{ padding:13px 5px;}
.FM-blist1{ background:none; background:-webkit-gradient(linear, left top, left bottom, from(#579bad),to(#548e9b));}
.FM-blist1 td{ padding:5px;}
.FM-blist4{ font-size:15px;}
.FM-blist1 td[ colspan="3"] div>a{ font-size:18px;}

/* 文章列表標題 */
.FM-blist3 a{ font-size:18px; line-height:24px;}




/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■  哈啦區C頁 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/*#fly{ position:static !important;}右上角單區*/

/*下方快速回覆*/
.FM-reply{}
.FM-reply textarea{width: -moz-calc(100% - 30px); width: -webkit-calc(100% - 30px); width: -o-calc(100% - 30px); width: calc(100% - 30px); font-size:17px; line-height:200%; height:200px;}

/*文章內容文字*/
.FM-cbox7, .FM-cbox7 *{ font-size:20px; line-height:200%;}

/*文章標題*/
.FM-cbox3{ font-size:17px; padding:10px; background-image:none; background: -webkit-linear-gradient(top, #89b7eb 0%,#5e9bce 100%);}
/*看他的文+開啟圖片 按鈕*/
.FM-cbox4 a{ padding:5px 20px; font-size:15px; background-image:none; background: -webkit-linear-gradient(top, #ffffff 0%,#fffece 100%);}

/*GP & BP*/
.FM-cbox3 a{ font-size:20px;}

/*下方按鈕列*/
.FM-cbox9{ zoom:1.3;}
.FM-cbox9 a{ margin:0;}
.FM-cbox9 .fb-like{ display:inline-block !important; width:auto !important; -webkit-transform:scale(1.3); -webkit-transform-origin:left top; padding-top:3px;}

/*留言區*/
.FM-cbox10{ zoom:1.2; line-height:120%;}
.FM-cbox10D{ padding:5px 10px;}

/*下方快速回覆*/
.FM-reply{ margin-bottom:20px;}
.FM-replyA button{ font-size:17px; vertical-align:middle;}
.FM-replyA a{ margin-top:10px;}
.FM-replyA input{ width:100px; height:30px; font-size:17px;}


/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■  哈啦區 子頁面 (精華區、發文....etc) ■■■■■■■■■■■■■■■■■■■■ */

/*精華區*/
.FM-stb1 tr:first-child{ font-size:18px; line-height:24px; background:none;
background-image:-webkit-linear-gradient(-90deg, #89b7eb 0%, #5e9bce 100%);
background-image:-moz-linear-gradient(-90deg, #89b7eb 0%, #5e9bce 100%);
background-image:-ms-linear-gradient(-90deg, #89b7eb 0%, #5e9bce 100%);
background-image:-o-linear-gradient(-90deg, #89b7eb 0%, #5e9bce 100%);
}
.FM-stb1 td{ padding:10px 5px;}
.FM-stb1 a{ font-size:18px; line-height:24px;}

/*發表文章*/
.FM-lbox3 *{ font-size:16px;}
.FM-lbox3A input{ padding:4px 3px; width:400px;}
.FM-lbox3 .BH-tcolor1{ float:none !important; padding-top:10px;}
.FM-lbox3E input{ width:40px; padding:2px;}
.FM-lbox3E button{ margin-right:5px !important; margin-top:-3px;}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ 平板直立 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

@media screen and (device-width: 768px) and (orientation : portrait){
/* 搜尋區 */
.BH-search2{ zoom:1.5;}

/* 頁碼按鈕 */
#BH-pagebtn{ margin:0 10px;}

/* 下方本板熱門推薦 */
.FM-blist8>span{ padding-left:10px;}

/*搜尋*/
.BH-search .BH-searchbar{ width:500px;}

/*C 頁下方按鈕列*/
.FM-cbox9{ zoom:1.5;}

/*------------------------------------------------ 右側區塊 ------------------------------------------------*/
.TOP-bh *{ zoom:1;}
#BH-wrapper{ margin-top:43px !important;}
#BH-wrapper{ width:100%;}
#BH-master{ width:100%;}
#BH-slave {
opacity: 0;
position: absolute;
pointer-events: none;
}
#BH-ad_txt{ width:100%;}
.TOP-data{ width:100%;}
}
