@charset "utf-8";

/* --------------------------------------------哈啦區首頁(仿舊版式)-------------------------------------------- */
/* -------------單欄式列表------------- 
div.FORUM-master_box1{ background-color:#FFFFFF; border:1px solid #e5e5e5; margin-bottom:10px; overflow:auto; _height:1%;}
div.FORUM-master_box1 div{ margin:10px 10px 0 10px; border-bottom:1px dotted #e5e5e5; overflow:hidden; padding-bottom:5px;}
div.FORUM-master_box1 div strong{ background:url(https://i2.bahamut.com.tw/icon_blue.gif) no-repeat 10px center; padding:5px 25px; background-color:#f6f6f6; display:block; margin-bottom:5px;}
div.FORUM-master_box1 div strong a{ font-weight:bold; color:#6699CC;}
div.FORUM-master_box1 div h1{}
div.FORUM-master_box1 div h1 a{ display:block; float:left; width:33%; line-height:25px; text-decoration:underline; text-indent:10px; white-space:nowrap; overflow:hidden;}*/


/* -------------三欄式列表------------- */
.FORUM-master_box1{}
.FORUM-master_box1 div{ margin:10px 10px 0 10px; border-bottom:1px dotted #e5e5e5; overflow:hidden; padding-bottom:5px; width:30%; float:left; height:180px; _width:29%;}
.FORUM-master_box1 strong{ background:url(https://i2.bahamut.com.tw/icon_blue.gif) no-repeat 10px center; padding:5px 25px; background-color:#f0f0f0; display:block; margin-bottom:5px; clear:both;}
.FORUM-master_box1 a{ display:block; line-height:25px; text-decoration:underline; text-indent:10px; white-space:nowrap; overflow:hidden; border-left:5px solid #f0f0f0; _width:200px;}
.FORUM-master_box1 .FORUM-box1stitle{ font-weight:bold; color:#0055aa; text-decoration:none; line-height:20px;}


/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ 共 通 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
button:hover{ cursor:pointer;}
.BH-lbox{ border-color:#CCCCCC; border-top:none;}
/* -------------搜尋區------------- */
.FM-search{ font-size:12px; padding-left:10px; word-break:break-all; word-wrap:break-word; width:210px; color:#999999;}
.FM-search a{ margin-right:5px;}

/* -------------板主跑馬燈+發表文章鈕+返回列表------------- */
.FM-lbox1{ display:block; font-size:13px;}
.FM-lbox1 marquee{ float:left; width:530px; line-height:27px; font-size:15px;}
.FM-lbox1 a{ color:#FF0000;}
.FM-lbox1>a{ display:block; padding:0 15px; line-height:25px; height:25px; text-align:center; margin-left:5px; font-weight:bold; background:url(https://i2.bahamut.com.tw/forum/main_btnbg2.gif) 0 -480px repeat-x; color:#aa2800; border:1px solid #f6be68; font-size:13px; float:right;}
.FM-lbox1>a:hover{ background-position:0 -505px; color:#FFFFFF; text-decoration:none;}
.FM-lbox1 button{ border:1px solid #ccc; padding:0 10px; line-height:23px; height:23px; color:#464646; margin-right:5px; vertical-align:middle;}
.FM-lbox1 button:hover{ background-color:#999999; color:#FFFFFF;}
.FM-lbox1 .back{ background:url(https://i2.bahamut.com.tw/forum/bh_images.png) no-repeat -143px -200px; width:38px; height:23px; padding:0; line-height:23px; border:none; vertical-align:middle;}
.FM-lbox1 .back:hover{ background-position:-143px -223px;}


/* 換頁區塊修正 */
.FM-lbox2{ padding-top:0 !important;}

/* -------------子板標籤------------- */
.FM-tags{ font-size:12px; border-bottom:2px solid #d9d9d9; overflow:auto;}
.FM-tags a{ display:block; float:left; margin-right:0.25em; text-align:center; width:58px; height:25px; line-height:25px; border:1px solid #d9d9d9; color:#23557b; border-bottom:none; background:url(https://i2.bahamut.com.tw/forum/main_btnbg2.gif) 0 -430px repeat-x; overflow:hidden;}
.FM-tags a:hover{ background:url(https://i2.bahamut.com.tw/forum/main_btnbg2.gif) repeat-x 0 -455px; text-decoration:none; color:#FFFFFF; border-color:#a1aeb5;}
#FM-tagsnow{ background-position: 0 -455px; color:#FFFFFF; border-color:#a1aeb5;}
.FM-tags a:last-child{ width:58px;}

/* -------------活動情報 (廷伸閱讀)------------- */
.FM-extend{ background-color:#f6f6f6; border:1px solid #CCCCCC; font-size:13px; padding-bottom:5px; margin-top:10px; overflow:auto; clear:both;}
.FM-extend ul{ float:left; padding-top:5px;}
.FM-extend a{ display:inline-block; background:url(https://i2.bahamut.com.tw/forum/bh_images.png) no-repeat 0 -1640px; padding:5px 5px 3px 15px; margin:0 10px; border-bottom:1px dashed #999999; width:300px; white-space:nowrap; overflow:hidden;}
.FM-extend p{ border-bottom:1px solid #CCCCCC; background-color:#e5e5e5; line-height:24px; text-align:center; letter-spacing:15px; margin-bottom:5px;}
.FM-extend a:hover{ color:#0055aa;}

/* -------------下方340x160廣告區塊------------- */
.FM-ad{ font-size:13px; overflow:auto; margin:10px 0;}
.FM-ad img{ max-width:340px;}
.FM-ad div{ width:340px; border:1px solid #CCCCCC; float:left;}
.FM-ad div+div{ margin-left:6px;}
.FM-ad p{ border:1px solid #CCCCCC; background-color:#e5e5e5; line-height:24px; text-align:center;}

/* -------------下方板主功能列-------------*/
.FM-bmbar{ padding-bottom:10px; font-size:13px;}
.FM-bmbar input{ vertical-align:middle; margin-right:3px;}
.FM-bmbar button{ vertical-align:middle; margin-left:3px; line-height:18px; padding:0 5px;}
.FM-bmbar input+button{ margin-left:10px;}


/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ A 頁 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* -------------進板圖------------- */
.FM-abox1{ background:#E5E5E5; width:1000px; height:300px; position:relative; margin-bottom:10px;}
.FM-abox1 img{ position:absolute; left:0; top:-1px; right:0; bottom:0; margin:auto; z-index:0}
.FM-abox1 a{width: 100%;height: 100%;display: block}
.FM-abox1 #editPicButton{ background:rgba(0,0,0,.3);border:1px solid #fff; padding:0 15px;  line-height:22px;font-size: 12px; text-align: center;height:23px; color:#464646; z-index:20; position:absolute; left:20px;bottom: 10px;width:30px;text-shadow: 1px 1px 1px #333;color:#fff;}
.FM-abox1 #editPicButton:hover{ background-color:#000; color:#FFFFFF;}
.FM-abox1:hover a:first-child:before{background:rgba(0,0,0,.3);border: 1px solid #fff ;border-radius: 2px;font-size: 12px;line-height:22px;text-align: center;color:#fff;content: "進入看板";text-shadow: 1px 1px 1px #333;display:block;width: 71px;height: 22px;position:absolute;z-index: 10;bottom: 10px;right: 10px;pointer-events: none; }

/* -------------熱門推薦------------- */
/* tag 標籤 */
.FM-atag1{ margin-bottom:-1px; z-index:10; overflow:auto; font-size:13px;}
.FM-atag1 li{ float:left; margin-right:2px;}
.FM-atag1 a{ display:inline-block; background-image:url(https://i2.bahamut.com.tw/gnn/no2.jpg); border:1px solid #cccccc; line-height:23px; height:23px; padding:0 9px; text-align:center;}
.FM-atag1 a:hover{ background-image:url(https://i2.bahamut.com.tw/gnn/now2.jpg); color:#147e96; border-color:#cccccc; text-decoration:none; border-bottom-color:#FFFFFF;}
.FM-atag1 img{ margin-right:5px; vertical-align:middle;}
.FM-atag1 .FM-atag1now{ border-color:#cccccc; background-image:url(https://i2.bahamut.com.tw/gnn/now2.jpg); color:#147e96; font-weight:bold; border-bottom-color:#FFFFFF;}
/* 區塊內容 */
.FM-abox2{ padding-bottom:10px; border-top:1px solid #cccccc;}
.FM-abox2 a:hover{ color:#0055aa;}
.FM-abox2A{ overflow:auto; line-height:20px; width:324px; float:left; font-size:13px; padding:10px 10px 0 10px; word-break:break-all; word-wrap:break-word;}
.FM-abox2A>a:first-child{ display:block; width:120px; height:120px; float:left; position:relative; background-color:#e5e5e5;}
.FM-abox2A img{ max-width:120px; max-height:120px; position:absolute; margin:auto; top:0; right:0; bottom:0; left:0;}
.FM-abox2A p{ width:195px; float:right;}
.FM-abox2B{ font-weight:bold; color:#0055aa; display:block; border-bottom:1px dotted #CCCCCC; margin-bottom:5px; margin-left:130px;}

/* -------------作品介紹------------- */
/* 評分 */
.FM-abox6 table{ font-size:13px;}
.FM-abox6 p{ font-size:13px;}
.FM-abox6A{ float:right; padding:0 10px 10px 10px;}
/* 資料 */
.FM-abox6B{ padding:10px; width:357px; float:left;}
.FM-abox6B>a:first-child{ display:block; border-bottom:1px dotted #e5e5e5; font-size:18px; font-weight:bold; padding-bottom:5px; color:#0055aa; margin-bottom:10px; width:100%; white-space:nowrap; overflow:hidden;}
.FM-abox6B>a+a{ display:block; width:120px; height:120px; float:left; position:relative; border:3px solid #e5e5e5;}
.FM-abox6B>a+a img{ position:absolute; top:0; right:0; bottom:0; left:0; margin:auto; max-width:120px; max-height:120px;}
.FM-abox6B p{ line-height:19px; float:right; width:225px; min-height:155px;}
.FM-abox6Bpage{ display:block; color:#999999; width:120px;  text-align:center; padding-top:7px; float:left;}
.FM-abox6Bpage a:first-child{ display:inline-block; width:20px; height:20px; background:url(https://i2.bahamut.com.tw/bh_images.png) no-repeat left -780px; margin:0 3px 0 3px; vertical-align:middle;}
.FM-abox6Bpage a:first-child:hover{ background-position:left -800px;}
.FM-abox6Bpage a+a{ display:inline-block; width:20px; height:20px; background:url(https://i2.bahamut.com.tw/bh_images.png) no-repeat -20px -780px; vertical-align:middle;}
.FM-abox6Bpage a+a:hover{ background-position:-20px -800px;}

/* -------------公佈欄------------- */
.FM-abox5{ word-break:break-all; word-wrap:break-word;}
.FM-abox5B{ padding:10px; line-height:19pt;}
.FM-abox5B table{ max-width:100%; white-space:normal;}
.FM-abox5B td{ font-size:12px; padding:3px;}
.FM-abox5B a{ color:#0055aa;}
.FM-abox5B img{ margin:5px 0;}
.FM-abox5B ul{ list-style-type: disc; padding:10px 30px;}
.FM-abox5B ol{ list-style-type: decimal; padding:10px 30px;}

/* -------------板主編輯列------------- */
.FM-abmbar{ background-color:#f6f6f6; padding:2px 5px; border-bottom:1px dotted #CCCCCC; overflow:auto;}
.FM-abmbar a{ display:block; font-size:13px; border:1px solid #ccc; padding:0 10px;  line-height:23px; height:23px; color:#464646; float:right; margin-left:3px;}
.FM-abmbar a:hover{ background-color:#999999; color:#FFFFFF; text-decoration:none;}

/* -------------大大名單------------- */
.FM-abox7{ font-size:13px;}
.FM-abox7 div{ width:327px; float:left; padding-bottom:10px; border-bottom:1px dotted #CCCCCC; margin:10px 0 0 10px;}
.FM-abox7 img{ float:left; margin-right:5px;}
.FM-abox7 a+a{ color:#0055aa; font-weight:bold;}
.FM-abox7 span{ float:right;}
.FM-abox7 span>a{ color:#0055aa;}
.FM-abox7 p{ word-break:break-all; word-wrap:break-word; line-height:24px;}
.FM-abox7 cite{ display:block; text-align:center; padding:5px; clear:both;}
.FM-abox7 button{ padding:0 10px; height:25px; margin:0 5px;}
/* 空區塊 */
.FM-abox7A{ font-size:13px; padding:5px 0; line-height:40px; background:url(https://i2.bahamut.com.tw/forum/haha_adada.jpg) no-repeat;}
.FM-abox7A *{ display:inline-block; vertical-align:middle;}
.FM-abox7A img{ margin-right:15px;}
.FM-abox7A button{ margin-left:5px; height:25px; width:100px; line-height:20px;}
.FM-abox7A p{ line-height:18px; margin-left:120px;}

/* -------------新版大大名單------------- */
.FM-abox8{ font-size:13px; padding:10px 0 10px 10px;}
.FM-abox8 div{ width:329px; float:left; margin:0 10px 10px 0;}
.FM-abox8A{ display:block; background-color:#f6f6f6; border-bottom:1px dotted #CCCCCC; padding:3px;}
.FM-abox8A img{ vertical-align:middle;}
.FM-abox8A a{ color:#0055aa; margin:0 5px;}
.FM-abox8A img+a{ font-weight:bold;}
.FM-abox8A span{ float:right; font-size:11px; -webkit-text-size-adjust:none;}
.FM-abox8A i{ color:#CC0000; font-weight:bold; margin-right:3px; font-style:normal; font-size:13px;}
.FM-abox8 div>a{ display:block; border-bottom:1px dotted #CCCCCC; padding:4px 0; white-space:nowrap; overflow:hidden;}
.FM-abox8B{ clear:both; display:block; padding-right:10px;}
.FM-abox8B span{ float:right; width:auto; margin-right:10px; margin-top:-5px;}
.FM-abox8B button{ float:right;}
.FM-abox8B button:first-child{ float:left;}

/* -------------精撰組------------- */
.FM-abox9{ padding:10px; line-height:24px;}
.FM-abox9 span{ display:block; font-weight:bold; color:#FF0000; line-height:24px;}
.FM-abox9 ul{ list-style-type:decimal; padding-left:40px;}
.FM-abox9 li{}




/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ B 頁 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* -------------文章列表表格------------- */
.FM-blist{ border:1px solid #CCCCCC; background-color:#FFFFFF; font-size:12px; line-height:20px; margin-bottom:10px; width:100%;}
.FM-blist td{ border-bottom:1px solid #e5e5e5; padding:5px;}
.FM-blist td:first-child{ text-align:center; width:20px;}
.FM-blist td:first-child a{ white-space:nowrap;}
.FM-blist td:first-child{ *width:auto;}/* IE7*/
.FM-blist a{ color:#0055aa;}
.FM-row{ background-color:#f3f3f3 !important;}
#.FM-blist tr:nth-child(2), .FM-blist tr:nth-child(3), .FM-blist tr:nth-child(4){ background-color:#ffffdd;}
.FM-blist tr:hover{ background-color:#FFFFDD !important;}
.FM-blist input{ margin-right:3px; vertical-align:middle;}
.FM-blist img{ vertical-align:middle;}
.FM-blist .new_res{ color:#003CDC;}

/* 文章列表頭 */
.FM-blist1{ color:#FFFFFF; background:url(https://i2.bahamut.com.tw/forum/main_btnbg2.gif) repeat-x 0 -398px; text-align:right;}
.FM-blist1 td[ colspan="3"] div{ text-align:left; position:relative;}
.FM-blist1 td[ colspan="3"] div>a{ display:inline-block; padding:0 10px; color: #123d54; border: 1px solid #003399; background:url(https://i2.bahamut.com.tw/main_btnbg2.gif) repeat-x 0 -378px; margin-right:3px; vertical-align:top; font-size:13px;}
#.FM-blist1 td[ colspan="3"]{ text-align:left;}
#.FM-blist1 a{ display:inline-block; padding:0 10px; color: #123d54; border: 1px solid #003399; background:url(https://i2.bahamut.com.tw/forum/main_btnbg2.gif) repeat-x 0 -378px; margin-right:3px; vertical-align:top; font-size:13px;}
#.FM-blist1 a:hover{ background:none; background-color:#236588; color:#FFFFFF; text-decoration:none;}
.FM-blist1 td[ colspan="3"]>a:hover{ background:none; background-color:#236588; color:#FFFFFF; text-decoration:none;}
.FM-blist1 img{ background:url(https://i2.bahamut.com.tw/bh_images.png) no-repeat -93px -155px; width:9px; height:5px; margin-left:3px;}
.FM-blist1 a{ color:#FFFFFF;}
.FM-blist1 .FM-sortnow{ background:url(https://i2.bahamut.com.tw/bh_images.png) no-repeat 0 -1845px; padding-left:12px; color:#FFFF00;}

/* GP推薦 下拉選單*/
.FM-blist1 .gplist{ position:absolute; left:0px; top:21px; border:1px solid #6e93b8; background-color:#FFFFFF; padding:5px 10px; width:60px; z-index:1;}
.FM-blist1 .gplist a{ display:block; color:#0055aa;}
.FM-blist1 .gplist img{ margin-right:3px;}

/* 子板名稱 */
.FM-blist2{ white-space:nowrap; padding:0 !important; font-size:11px; width:40px; text-align:center; -webkit-text-size-adjust:none;}
.FM-blist2 a{ color:#446BA2; display:block; -webkit-transform:scale(0.92); }
.FM-blist2{ *width:50px;}/* IE7*/

/* 文章標題*/
.FM-blist3{ font-size:13px; word-break: break-all; word-wrap: break-word;}
.FM-blist3 a{ color:#333333;}
.FM-blist3 a:hover{ color:#0055aa;}
.FM-blist3 a:visited{ color:#777777;}
.FM-blist3 span{ margin-left:5px;}
.FM-blist3 span a{ margin:0 3px; color:#3E81C6; white-space:nowrap;}
.FM-blist3 input{ vertical-align:middle; margin-right:3px;}
.FM-blist3A{ color:#CCCCCC !important;}/* 己刪除*/

/* GP*/
.FM-blist4{ color:#0055aa; text-align:right; width:30px;}

/* 回覆+人氣*/
.FM-blist5{ text-align:right; line-height:14px; width:80px; white-space:nowrap;}
.FM-blist5 a{ display:block;}
.FM-blist5 span{ color:#999999;}

/* 最後發表*/
.FM-blist6{ line-height:14px; text-align:right; width:80px; white-space:nowrap;}
.FM-blist6 a:first-child{ color:#464646; display:block;}

/* 超級置頂區*/
.FM-blist7{ display:block; font-size:13px; letter-spacing:5px; border:1px solid #ccc; padding:5px; color:#fff; background-color:#b2cd7e; border-bottom-color:#FFFFFF;}
.FM-blist7A{ background-color:#e6ecd9 !important;}

/* -------------本板熱門推薦------------- */
.FM-blist8{ text-align:center; font-size:13px; border:0;}
.FM-blist8 span{ display:block; font-weight:bold; text-align:left; font-size:15px; padding:10px 0 0 0;}
.FM-blist8 p{ display:inline-block; width:120px; margin:10px 7px; vertical-align:top;}
.FM-blist8 p{ *float:left; *margin-left:20px;}/* IE7*/
.FM-blist8 a{ color:#0055aa;}
.FM-blist8 a:first-child{ display:block; width:120px; height:120px; position:relative; border:1px solid #CCC; margin-bottom:3px;}
.FM-blist8 a+a{ max-height:35px; display:block; overflow:hidden;}
.FM-blist8 img{ max-height:120px; max-width:120px; position:absolute; margin:auto; top:0; right:0; bottom:0; left:0;}

/* 置頂*/
.FM-sticky{ background-color:#e2f5cd !important;}

/* 大大文章顏色*/
.FM-daco{ color:#b14b22 !important;}

/* -------------2016B頁改版------------- */
/*列表設定*/
.FM-TTrow td{padding:10px 5px;}
.FM-TTrow td:first-child{padding: 8px 0px 8px 25px;}
.FM-TTrow p{display: inline;font-size: 15px;}
.FM-TTrow p:first-child{font-family: Arial,"微軟正黑體",Heiti TC;font-weight: bold;}
.FM-TTrow p i{ margin: 0 4px 0 10px;}
.FM-TTrow p b{float: right;font-weight:normal;color:#888;}
.FM-TTrow a{color:#000;}
.FM-TTrow a:hover{color:#0055aa;text-decoration:underline;}
.FM-TTrow span a{display: inline;margin-right:3px;color: #0055aa;}
/*區塊顏色*/
.FM-TTrow .red{color:#FF221B;}
.FM-TTrow .blue{color:#008DFF;}
.FM-TTrow .orange{color:#FF8000;}
/*文章狀態區塊*/
.FM-TTrow .FM_TTcomment{display:block; color:#888;font-size:12px;}
.FM_TTcomment a{color:#888;}
.FM-TTsticky{ background-color: #e2f5cd !important;}
/*分頁碼*/
.FM-TTrow .page{margin-left: 10px;font-size:15px;}
/*分類與人氣*/
.FM-TTrow .sort{color: #888;font-size:12px;position: relative;}
.FM-TTrow .sort span{font-size: 22px;display: block;font-weight:bold;letter-spacing: 1px;line-height:24px;}
/*熱度星星*/
.FM-TTstar{width: 0;height: 0;border-style: solid;border-width: 30px 35px 0 0;border-color: #FF8B2C transparent transparent transparent;position: absolute !important;	top: 0;	left: 0;color:#fff;}
.FM-TTstar i{position: absolute;left: 1px;top: -27px;}
.FM-TTstar i+i{left: 10px;top: -27px;}
/*管理input*/
.FM-TTinput{position: absolute !important;top:25px;left:7px;}
.FM-TTinput input[type="checkbox"]{width: 15px;height: 15px;}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ C 頁 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
.FM-cbox1{ background-color:#FFFFFF; border:1px solid #CCCCCC; border-top-color:#5A9ACC; border-bottom-color:#5A9ACC;}

/* -------------個人資訊區------------- */
.FM-cbox2{ overflow:auto; background:url(https://i2.bahamut.com.tw/forum/FM-cbg1.gif) repeat-x top; font-size:12px; position:relative;}
.FM-cbox2{ *overflow:hidden;}/* IE7*/

/* 勇造*/
.FM-cbox2>a{ float:left; border-right:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; margin-right:10px;}

/* 標題*/
.FM-cbox3{ padding:7px 10px; color:#FFFFFF; background:url(https://i2.bahamut.com.tw/forum/main_btnbg2.gif) repeat-x 0 -398px; font-size:13px; font-weight:bold; white-space:nowrap;}
.FM-cbox3 p{ display:inline-block; width:560px; overflow:hidden; vertical-align:middle;}
.FM-cbox3 h2{ display:inline-block; width:560px; overflow:hidden; vertical-align:middle; font-size:13px; font-weight:bold;}
.FM-cbox3 span{ float:right; font-size:11px; -webkit-text-size-adjust:none;}
.FM-cbox3 a{ margin:0 3px 0 7px; color:#666666; font-size:13px; font-weight:bold;}
.FM-cbox3 a:first-child{ color:#FFFF00;}
.FM-cbox3 p a:first-child,.FM-cbox3 h2 a:first-child{ margin:0;}

/* 發表時間+按鈕*/
.FM-cbox4{ float:right; padding:5px 10px 0 0; text-align:right;}
.FM-cbox4 span{ color:#999999; display:block; padding-bottom:3px;}
.FM-cbox4 a{ display:inline-block; padding:0 10px; line-height:21px; height:21px; border:1px solid #dec035; background:url(https://i2.bahamut.com.tw/forum/main_btnbg2.gif) repeat-x 0 -622px; margin-left:3px; border-radius:5px;}
.FM-cbox4 a:hover{ background-image:none; background-color:#fea660; color:#FFFFFF; text-decoration:none;}

/* ID暱稱+小屋圖*/
.FM-cbox5{ font-size:15px; font-weight:bold; padding:8px 0 5px 0;}
.FM-cbox5>a:first-child{ color:#0055aa; margin-right:5px;}
.FM-cbox5 img{ vertical-align:middle; margin-left:5px;}

/* 稱號 etc*/
.FM-cbox6{ color:#999999; padding-top:5px; line-height:24px;}
.FM-cbox6 img{ vertical-align:middle;margin-left:3px;}
.FM-cbox6>span{ display:block; color:#666666;}
.FM-exp{ display:inline-block; width:70px; background-color:#333333; line-height:4px; height:4px; vertical-align:middle;}
.FM-exp{ *display:inline;}/* IE7*/
.FM-exp span{ display:block; background:url(https://i2.bahamut.com.tw/forum/main_btnbg2.gif) repeat-x 0 -151px; height:4px;}
.FM-guild{ position:absolute; right:0; bottom:0;}

/* -------------文章內容-------------*/
.FM-cbox7{ line-height:19pt; padding:20px; min-height:120px; font-size:15px; word-break:break-all; word-wrap:break-word;}
.FM-cbox7 table{ max-width:100%; white-space:normal; border-collapse:separate;}
.FM-cbox7 td{ font-size:12px; padding:3px;}
.FM-cbox7 a{ color:#0055aa;}
.FM-cbox7 img{ margin:5px 0; max-width:645px;}
.FM-cbox7 ul{ list-style-type: disc; padding:10px 30px;}
.FM-cbox7 ol{ list-style-type: decimal; padding:10px 30px;}
.FM-cbox7 blockquote{ padding:10px 30px;}

.FM-cboxdel{ text-align:center; background-color:#FF0000; color:#FFFFFF;}/* 己刪除文章*/

/* BB CC+最後編輯日期*/
.FM-cbox8{ color:#999999; font-size:11px; padding:10px 20px; clear:both; position:relative;}
.FM-cbox8 img{ vertical-align:top; -webkit-text-size-adjust:none; margin-right:3px;}
/* BB CC+最後編輯日期 +FB分享*/
.FM-cbox8 .fb-like{margin-left: -9px; margin-right: 10px;vertical-align: bottom;}
/* 精華文章*/
.FM-feature{ background:url(https://i2.bahamut.com.tw/forum/quin_b.jpg) no-repeat right top;}

/* -------------C 頁 精華區-------------*/
.FM-cfav{ padding:10px 0; overflow:auto; font-size:13px;}
.FM-cfav a{ color:#0055aa;}

/* -------------下方按鈕列-------------*/
.FM-cbox9{ padding:5px 0 10px 0; margin:0 10px; border-top:1px solid #e5e5e5; font-size:12px; position:relative; min-height:25px;}
.FM-cbox9 *{ vertical-align:middle; display:inline-block;}
.FM-cbox9 p{ float:right;}
.FM-cbox9 p{ *margin-top:-23px;}/* IE7*/
.FM-cbox9 a{ display:inline-block;}
.FM-cbox9 button{ margin:0 0 0 5px; border:1px solid #ccc; padding:0 8px;  line-height:23px; height:23px; color:#464646;}
.FM-cbox9 button{ *width:50px; }/* IE7*/
.FM-cbox9 button:hover{ background-color:#999999; color:#FFFFFF;}
.FM-cbox9 div{ margin-left:5px;}
/* 回列表*/
.FM-cbox9 .back{ display:inline-block; background:url(https://i2.bahamut.com.tw/forum/bh_images.png) no-repeat -143px -200px; width:38px; height:23px;}
.FM-cbox9 .back:hover{ background-position:-143px -223px;}
/* GP*/
.FM-cbox9 .gp{ background:url(https://i2.bahamut.com.tw/forum/main_btnbg2.gif) repeat-x 0 -530px; border:1px solid #6e93b8; width:55px; text-align:center;}
.FM-cbox9 .gp img{ margin-right:3px; vertical-align:middle;}
.FM-cbox9 .gp:hover{ background-position:0 -553px; color:#FFFFFF; text-decoration:none;}
.FM-cbox9 .gpn{ background:url(https://i2.bahamut.com.tw/forum/main_btnbg2.gif) repeat-x 0 -643px; padding:0 8px; color:#990000; line-height:23px; font-weight:bold; margin-right:5px; border:1px solid #c0c1c3;}
/* BP*/
.FM-cbox9 .bp{ background:url(https://i2.bahamut.com.tw/forum/main_btnbg2.gif) repeat-x 0 -530px; width:29px; line-height:23px; height:23px; border:1px solid #6e93b8; text-align:center;}
.FM-cbox9 .bp:hover{ background-position:0 -553px;}
.FM-cbox9 .bpn{ background:url(https://i2.bahamut.com.tw/forum/main_btnbg2.gif) repeat-x 0 -643px; padding:0 8px; color:#666666; line-height:23px; font-weight:bold; border:1px solid #c0c1c3;}
/* 藍鈕*/
.FM-cbox9 .blue{ background:url(https://i2.bahamut.com.tw/forum/main_btnbg2.gif) repeat-x 0 -530px; border:1px solid #6e93b8; width:50px; line-height:23px; text-align:center; margin-left:5px;}
.FM-cbox9 .blue:hover{ color:#fff; text-decoration:none; background-position:0 -553px;}
/* 紅鈕*/
.FM-cbox9 .red{ background:url(https://i2.bahamut.com.tw/forum/main_btnbg2.gif) repeat-x 0 -576px; border:1px solid #bf5c0a; width:50px; text-align:center; line-height:23px; margin-left:5px;}
.FM-cbox9 .red:hover{ color:#fff; text-decoration:none; background-position:0 -599px;}

/* 板主列*/
.FM-cbox8 input{ float:right; margin:-3px 115px 0 0;}
.FM-cbox9A{ font-size:12px; color:#464646; position:absolute; right:10px; top:0; z-index:10; background-color:#FFF; border:1px solid #CCC; height:25px; overflow:hidden; }
.FM-cbox9A:hover{ height:auto; box-shadow:2px 2px 2px rgba(0,0,0,.3); border-radius:0 0 5px 5px;}
.FM-cbox9Ashow{ height:auto; box-shadow:2px 2px 2px rgba(0,0,0,.3); border-radius:0 0 5px 5px;}
.FM-cbox9A a{ display:block; padding:3px 25px;}
.FM-cbox9A a+a{ border-top:1px solid #e5e5e5;}
.FM-cbox9A a:hover{ text-decoration:none; background-color:#666666; color:#FFFFFF;}

/* 分享至Plurk & Facebook*/
.FM-cbox9 .share{ position:absolute; right:34px; top:29px; border:1px solid #6e93b8; background-color:#FFFFFF; padding:5px 10px;}
.FM-cbox9 .share{ *top:57px;}/* IE7*/
.FM-cbox9 .share a{ display:block;}
.FM-cbox9 .share a:hover{ color:#0055aa;}
.FM-cbox9 .share img{ margin-right:3px;}

/* 黃底文字塊*/
.FM-ytbox{ max-width:200px; font-size:12px; padding:5px; background-color:#fffad2; border:1px solid #b46600;}

/*2016回應模組*/
.FM-TTrecommend{padding: 12px 0 12px 0;margin: 0 10px 0 10px;border-top: 1px solid #e5e5e5;}
.FM-TTrecommend button{width: 72px;height:40px;margin: 0 0 0 5px;padding: 0 8px;border-radius: 6px;background:#f1f1f1;color:#464646;border: 0;font-size:15px;}
.FM-TTrecommend button:hover{background: #2f879c;color:#fff;}
.FM-TTrecommend i{margin-right: 4px ;font-size:17px;}
.FM-TTrecommend p {float: right;}
.FM-TTrecommend p a{border: 1px solid #CECECE;line-height: 40px;margin-left: 10px;border-radius: 5px;padding: 0px 12px;display: inline-block;font-size: 13px;}
.FM-TTrecommend p a:hover{background: #666;color:#fff;text-decoration:none;}
.FM-TTrecommend .more{background: #fff;border: 0;position: relative;width: 40px;color: #333;}
.FM-TTrecommend .more i{margin-right: 0;}
.FM-TTrecommend .more ul{position: absolute;width: 90px;top: 40px;left: -20px;z-index: 10;background: #fff;border: 1px solid #bbb;display: none;box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);}
.FM-TTrecommend .more:hover ul{display:block;padding: 0;}
.FM-TTrecommend .more li{color:#4F7BA7;border-top: 1px solid #e5e5e5;width: 80px;padding:5px;font-size: 14px;height: 24px;line-height:24px;}
.FM-TTrecommend .more li:hover{background: #F6F6F6;}
.donate{width: 72px;height: 40px;background: #FF8B2C;line-height: 43px;text-align: center;border-radius: 6px;color: #fff;display:inline-block;}
.donate:hover{text-decoration:none;background: #FF5050;color:#fff;}

/* -------------文章折疊-------------*/
.FM-cboxfold{ padding:7px 10px; background:url(https://i2.bahamut.com.tw/forum/FM-titlebg2.gif) repeat-x bottom; font-size:13px; border-left:1px solid #CCCCCC; border-right:2px solid #CCCCCC; color:#999999; overflow:auto;}
.FM-cboxfold>a{ color:#0055aa;}
.FM-cboxfold>span{ margin-right:20px;}
.FM-cboxfold p{ float:right; font-size:11px; -webkit-text-size-adjust:none;}
.FM-cboxfold p a{ font-size:13px; color:#0055aa; margin:0 2px 0 7px;}
.FM-cboxfold>span+span{ display:inline-block; max-width:480px; vertical-align:top; word-break:break-all; word-wrap:break-word;}

/* -------------留言區塊-------------*/
.FM-cbox10{ clear:both; background:url(https://i2.bahamut.com.tw/forum/msg_bg2.png) repeat-y left top;}
.FM-cbox10 p{ display:block; overflow:hidden;}
.FM-cbox10 *{ vertical-align:top;}
.FM-cbox10 textarea{ width:625px; height:38px;}
.FM-cbox10 img{ margin-right:5px;}
.FM-cbox10>a:hover{ color:#0055aa; text-decoration:none;}
.FM-cbox10A{ display:block; border-bottom:1px solid #e5e5e5; padding:5px 10px; font-size:12px; word-break: break-all; word-wrap: break-word;}
.FM-cbox10A button{ float:right; margin-left:5px; border:1px solid #ccc; padding:0 5px; line-height:18px; height:18px; color:#464646; font-size:12px;}
.FM-cbox10A button:hover{ background-color:#999999; color:#FFFFFF;}
.FM-cbox10A a{ font-weight:bold; color:#0055aa;}
.FM-cbox10A span{ color:#999999; margin-left:10px;}
.FM-cbox10A input{ vertical-align:middle; margin-right:5px; *float:left;}
.FM-cbox10A .delay_open{ display:block; font-weight:normal; border:1px solid #ccc; padding:0 10px; line-height:20px; color:#464646; font-size:12px; float:left; background-color:#f6f6f6;}
.FM-cbox10A .delay_open:hover{ color:#FFF; background-color:#999; text-decoration:none;}
.FM-cbox10B{ padding:5px 10px;}
.FM-cbox10B button{ margin-right:5px; border:1px solid #ccc; padding:0 8px;  line-height:23px; height:23px; color:#464646;}
.FM-cbox10B button:hover{ background-color:#999999; color:#FFFFFF;}
.FM-cbox10C{ padding:5px;}
.FM-cbox10D{ display:block; text-align:right; padding:3px 5px; background-color:#f6f6f6; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; font-size:13px;}
.FM-cbox10D a{ margin-left:5px;}
.FM-cbox10 .bmt{ color:#d43c16;}
.FM-cbox10 .bmt a{ color:#d43c16;}

.FM-msgbg p:first-child{ background:url(https://i2.bahamut.com.tw/forum/msg_bg.png) left top repeat-x; padding-top:10px;}

/* -------------簽名檔-------------*/
.FM-cbox11{ padding:5px 0; border-top:1px dotted #CCCCCC; margin:0 10px;}
.FM-cbox11 *{ max-height:125px;}

/* -------------文章內文字廣告-------------*/
.FM-cad{ display:block; line-height:30px; background-color:#FFFFCC; text-align:center; font-weight:bold; border:1px solid #ccc; font-size:12px;}
.FM-cad:hover{ color:#0055aa; text-decoration:none;}

/* -------------更改文字大小-------------*/
.FM-P1{font-size: 12px;line-height: 18px;}
.FM-P2{font-size: 15px;line-height: 19pt;}
.FM-P3{font-size: 18px;line-height: 22pt;}

/* -------------快速回覆區-------------*/
.FM-reply{ background-color:#f0f4f7; border:1px solid #CCCCCC; margin-top:10px;}
.FM-reply textarea{ border:1px solid #CCCCCC; margin:5px 10px 10px 10px; height:100px; width:660px; padding:3px;}
.FM-replyA{ padding:0 10px 10px 10px; overflow:auto;}
.FM-replyA span{ color:#FF0000; margin-right:10px;}
.FM-replyA input{ vertical-align:middle; width:50px;}
.FM-replyA button{ float:right; padding:0 20px; line-height:20px;}
.FM-replyA button{ *margin-top:-23px; *margin-right:10px;}/* IE7*/
.FM-replyA a{ display:inline-block; float:right; margin:3px 8px 0 0;}
.FM-replyB{ background-color:#FFFFFF; border:1px solid #CCCCCC; margin:10px; text-align:center; line-height:100px;}
.FM-replyB a{ color:#0055aa; margin-left:3px;}
.FM-replyC{ padding:10px 0 0 10px; overflow:auto; font-size:13px;}
.FM-replyC a{ color:#0055aa; margin-right:5px;}
.FM-replyC a:first-child{ display:inline-block; margin-right:5px; vertical-align:middle;}
#emotionlist{border: 1px solid rgb(179, 212, 213); padding: 5px; font-size: 12px; background-color: white; position: absolute; z-index: 99; top: 350px; left: 260px;}
#emotionlist img{padding:2px;}


/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ 次頁面 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* -------------共用表格樣式-------------*/
.FM-stb1{ border:3px solid #e5e5e5; background-color:#FFFFFF; font-size:13px; width:100%; margin-bottom:10px;}
.FM-stb1 a:hover{ color:#0055aa;}
.FM-stb1 td{ border:1px solid #e5e5e5; padding:5px; text-align:center;}
.FM-stb1 img{ vertical-align:middle;}
.FM-stb1 tr:nth-child(odd){ background-color:#f3f3f3;}
.FM-stb1 tr:hover{ background-color:#FFFFDD;}
.FM-stb1 tr:first-child{ background:url(https://i2.bahamut.com.tw/forum/main_btnbg2.gif) repeat-x 0 -398px; color:#FFFFFF;}

/* -------------新增/編輯子板-------------*/
.FM-sbox1{ padding:10px 0; overflow:auto; font-size:13px;}
.FM-sbox1 button{ margin-right:5px;}
.FM-sbox2 img{ margin-left:5px;}
.FM-sbox2 img[alt="隱藏"]{ margin-left:3px;}
.FM-sbox2 input{ vertical-align:middle; margin-right:3px;}
.FM-sbox2 td[colspan="5"] a{ color:#FF0000; font-weight:bold;}

/* -------------精華區-------------*/
.FM-fav{ padding:10px 0; overflow:auto; font-size:13px;}
.FM-fav a{ color:#0055aa;}
.FM-fav>a{ display:block; font-size:13px; border:1px solid #ccc; padding:0 10px;  line-height:23px; height:23px; color:#464646; float:right; margin-left:3px; background-color:#f6f6f6;}
.FM-fav>a:hover{ background-color:#999999; color:#FFFFFF; text-decoration:none;}
.FM-sbox3 img{ margin-right:3px;}
.FM-sbox3 td+td{ text-align:left;}
.FM-sbox3 td+td+td{ text-align:center;}
.FM-sbox3 strong{ color:#FF0000; margin-left:10px;}
.FM-sbox3 tr:first-child{ white-space:nowrap;}
.FM-fav+button{padding:0 10px; line-height:18px; margin-bottom:5px;}

/* -------------精華區異動-------------*/
.FM-sbox3A img{ margin-right:3px;}
.FM-sbox3A td+td+td+td{ text-align:center;}
.FM-sbox3A td+td+td{ text-align:left;}
.FM-sbox3A strong{ color:#FF0000; margin-left:10px;}
.FM-sbox3A tr:first-child{ white-space:nowrap;}
.FM-sbox3A .edit{ color:#006633;}
.FM-sbox3A .del{ color:#FF0000;}
.FM-sbox3A .add{ color:#0000FF;}

/* -------------精華區索引-------------*/
.FM-sbox3B{ padding:10px; font-size:13px; line-height:24px;}
.FM-sbox3B a:hover{ color:#0055aa;}

/* -------------設定小板主-------------*/
.FM-mini{ padding:10px 0; overflow:auto; font-size:13px;}
.FM-mini button{ float:right; vertical-align:middle; padding:0 10px; line-height:18px; margin-top:-2px;}
.FM-sbox4 td+td+td{ text-align:left;}
.FM-sbox4 img{ margin-right:3px;}

/* -------------發表文章-------------*/
.FM-lbox3{ padding:10px;}
.FM-lbox3{ *padding:0;}/* IE7*/
.FM-lbox3 p:first-child{ color:#FF0000; margin-bottom:20px; font-size:13px; text-align:center;}
.FM-lbox3A{ padding:10px 0;}
.FM-lbox3A select{ margin-right:10px;}
.FM-lbox3A input{ width:455px; font-family:Arial, Helvetica, sans-serif;}
.FM-lbox3B{}/*編輯器*/
.FM-lbox3B img{ width:100%;}
.FM-lbox3C{ padding:10px; font-size:12px; background-color:#f6f6f6;clear:both;}
.FM-lbox3C *{ vertical-align:middle;}
.FM-lbox3C a{ display:block; width:15px; line-height:15px; text-align:center; border:1px solid #666666; background-color:#e5e5e5; margin-left:5px; float:right;}
.FM-lbox3C a:hover{ background-color:#666666; color:#FFFFFF; text-decoration:none;}
.FM-lbox3C select{ margin:0 10px 0 5px;}
.FM-lbox3C input{ margin-left:3px;}
.FM-lbox3D{ padding:10px 0; font-size:13px;}
.FM-lbox3D a{ display:inline-block; vertical-align:middle; margin-left:3px;}
.FM-lbox3D input{ vertical-align:middle; margin-right:3px;}
.FM-lbox3E{ padding-top:10px;}
.FM-lbox3E a{ font-size:12px; color:#FF0000; text-decoration:underline;}
.FM-lbox3E button{ float:right; margin-left:5px; padding:2px 10px; vertical-align:middle;}

/* -------------板規-------------*/
.FM-lbox4{ padding:30px 20px 20px 20px; margin-bottom:0; line-height:24px;}
.FM-lbox4 ul{ list-style-type:disc; padding-left:20px;}
.FM-lbox4 ol{ list-style-type:decimal; padding-left:20px;}
.FM-lbox4 img{ max-width:645px;}
.FM-lbox4 [size="5"]{ line-height:32px;}
.FM-lbox4 [size="6"]{ line-height:38px;}
.FM-lbox4 [size="7"]{ line-height:42px;}
.FM-lbox4 blockquote{ padding-left:40px;}

.FM-lbox4A{ font-weight:bold; margin-bottom:20px;}
.FM-lbox4A a{ color:#0055aa;}
.FM-lbox4B{ font-size:12px; color:#009999; line-height:18px;}
.FM-lbox4B img{ vertical-align:middle; margin-right:3px;}
.FM-lbox4C{ font-size:13px; border-top:1px solid #e5e5e5; margin-top:10px; padding-top:10px; line-height:18px;}
.FM-lbox4C button{ float:right; line-height:18px; padding:0 10px;}

/* -------------水桶名單-------------*/
.FM-trash{ padding:10px 0; overflow:auto;}
.FM-trash button{ float:right; margin-left:10px; vertical-align:middle; padding:0 10px; line-height:18px; margin-top:-2px;}
.FM-lbox5{ white-space:nowrap; font-size:12px;}
.FM-lbox5 input{ margin-right:3px; vertical-align:middle;}
.FM-lbox5 a{ color:#0055aa;}
.FM-lbox5 span{ color:#0000FF;}
.FM-lbox5 td:first-child{ text-align:left;}
.FM-lbox5 td+td+td{ text-align:left; word-wrap:break-word; word-break:break-all; white-space:normal;}
.FM-lbox5 td+td+td+td{ text-align:center;white-space:nowrap;}

/* -------------哈啦區板主申請 - 說明頁-------------*/
.FM-bmind1{ padding:10px 20px;; font-size:13px; line-height:150%;}
.FM-bmind1 i{ font-style:normal; color:#FF0000;}
.FM-bmind1 b{ color:#0000FF; font-weight:normal;}
.FM-bmind1 ul{ list-style-type:decimal; padding-left:20px;}
.FM-bmind1 li{ padding:5px 0;}
.FM-bmind1 a{ color:#0055aa;}
.FM-bmind2{ font-size:13px; text-align:center; line-height:150%;}
.FM-bmind2 p{ display:inline-block;}
.FM-bmind2 img{ vertical-align:middle;}
.FM-bmind3{ text-align:center; padding:10px;}
.FM-bmind3 button{ height:25px; padding:0 20px; margin:0 5px;}

/* -------------哈啦區板主申請 - 申請頁-------------*/
.FM-bmapp1{ padding:10px; font-size:13px; line-height:150%;}
.FM-bmapp1 p{ padding:0 0 5px 5px;}
.FM-bmapp1 i{ color:#FF0000; font-style:normal; font-size:15px;}
.FM-bmapp1 table{ width:660px; border:3px solid #d2e2e9; margin:0 auto;}
.FM-bmapp1 tr:first-child{ white-space:nowrap;}
.FM-bmapp1 td{ border:1px solid #d2e2e9; padding:5px; vertical-align:middle;}
.FM-bmapp1 textarea{ display:block; height:80px; width:400px; padding:2px;}
.FM-bmapp1 td:first-child{ background-color:#ecf3f6; text-align:right;}
.FM-bmapp1 input{ vertical-align:middle; margin:0 2px 0 20px;}

/* -------------勇者議事堂 - 說明頁-------------*/
.FM-tp1{ padding:10px; font-size:13px; line-height:150%;}
.FM-tp1 a{ color:#0055aa;}
.FM-tp1 .guide{ padding:10px; background-color:#f6f6f6; text-align:center; border:1px solid #e5e5e5; border-radius:10px; line-height:24px; margin-bottom:10px;}
.FM-tp1 img{ display:block; margin:0 auto;}
.FM-tp1 .box{ padding:10px 0;}
.FM-tp1 .title{ font-weight:bold; color:#36F; display:block; border-bottom:1px solid #CCCCCC; padding-bottom:5px; margin-bottom:5px; font-size:15px;}
.FM-tp1 .IMG-E20{ display:inline-block; vertical-align:middle; margin-right:5px;}
.FM-tp1 i{ color:#FF0000; font-style:normal;}
.FM-tp1 .sbox{ display:block; padding:10px; background-color:#FFFFCC; margin-top:5px;}

/* -------------勇者議事堂 - 列表頁-------------*/
.FM-tp2{ font-size:13px; line-height:150%;}
.FM-tp2{ width:100%; border:3px solid #d2e2e9; margin:0 auto;}
.FM-tp2 td{ border:1px solid #d2e2e9; padding:5px; vertical-align:middle;}
.FM-tp2 tr:first-child{ background-color:#ecf3f6; text-align:center;}
.FM-tp2 td:first-child{ width:50px; text-align:center;}
.FM-tp2 td+td+td+td{ width:130px;}
.FM-tp2 td+td+td{ text-align:center;}

/* -------------勇者議事堂 - 內容頁-------------*/
.FM-tp3{ padding:10px; font-size:13px; line-height:150%;}
.FM-tp3 table a{ color:#0055aa;}
.FM-tp3 .title{ display:block; background-color:#666666; color:#FFFFFF; padding:5px 10px;}
.FM-tp3 .time{ display:block; padding:5px 10px; border:1px solid #CCCCCC;}
.FM-tp3 table{ width:100%; border:3px solid #d2e2e9; margin:10px auto;}
.FM-tp3 td{ border:1px solid #d2e2e9; padding:5px; vertical-align:middle;word-break:break-all; word-wrap:break-word;}
.FM-tp3 td:first-child{ width:80px; text-align:center; background-color:#ecf3f6;white-space:nowrap;}
.FM-tp3 input{ vertical-align:middle; margin:0 3px 0 20px;}
.FM-tp3 textarea{ display:block; width:99%; height:100px; padding:2px;}
.FM-tp3 p>a{ color:#FFFF00; margin:0 10px;}
.FM-tp3 .m1{ display:block; background-color:#336600; color:#FFFFFF; padding:5px 10px;}
.FM-tp3 .m2{ display:block; background-color:#0066CC; color:#FFFFFF; padding:5px 10px;}
.FM-tp3 .m3{ display:block; background-color:#990000; color:#FFFFFF; padding:5px 10px;}
.FM-tp3 .box{ padding:10px; border:1px solid #CCCCCC;}
.FM-tp3 .follow{ display:block; text-align:center; color:#FF0000; padding-top:10px;}
.FM-tp3 span{ float:right; font-size:11px; -webkit-text-size-adjust:none;}

/* -------------勇者議事堂 - 公告頁-------------*/
.FM-tp4{ padding:10px; font-size:13px; line-height:150%;}
.FM-tp4 .title{ display:block; background-color:#666666; color:#FFFFFF; padding:5px 10px; text-align:center; font-size:15px; font-weight:bold;}
.FM-tp4 .box{ padding:10px; border:1px solid #CCCCCC; border-top:none; border-bottom:none;}
.FM-tp4 .time{ display:block; padding:5px 10px; border:1px solid #CCCCCC; background-color:#f6f6f6;}
.FM-tp4 span{ float:right;}
.FM-tp4 a{ color:#0055aa;}
.FM-tp4 i{ font-style:normal; color:#FF0000;}


/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■右側區塊■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* -------------板務人員------------- */
.FM-rbox1{ padding:5px 10px 2px 10px; overflow:hidden; margin-bottom:10px;}
.FM-rbox1 img{ margin:0 0 5px 7px;}
.FM-rbox1 a{ color:#0055aa;}
.FM-rbox1 a:first-child>img{ margin-left:1px;}
.FM-rbox1A{ text-align:right;}
.FM-rbox1A a{ margin-left:10px; background:url(https://i2.bahamut.com.tw/forum/icon_list1.gif) no-repeat left center; padding-left:7px;}
.FM-rbox1B{ display:inline-block; vertical-align:top; line-height:40px; padding-left:10px;}
.FM-rbox1B a{ margin-left:5px;}
.FM-rbox1B{ *display:inline;}/* IE7*/
/* -------------新增131108------------- */
.FM-rbox1 a.adbtn{ display:inline-block; color:#FFF; background-color:#249db8; width:60px; height:17px; line-height:16px; text-align:center;}
.FM-msg{ font-size:13px; width:387px; background-color:#FFF; border:1px solid #117e96; border-top:none; box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); word-break:break-all; word-wrap:break-word;z-index:9}
.FM-msg>span{ display:block; background-color:#249db8; color:#FFFFFF; padding:3px 10px;}
.FM-msgbtn{ display:block; padding:7px; text-align:center; border-top:1px solid #e5e5e5; background-color:#f6f6f6;}
.FM-msgbtn a{ margin: 0 10px; font-weight: bold; color: #464646;}
.FM-board{ padding:5px;}
.FM-board a{ display:inline-block; text-align:left; width:120px; vertical-align:top; white-space:nowrap; overflow:hidden; height:14px; color:#464646; padding:5px 5px 5px 7px; background:url(https://i2.bahamut.com.tw/icon_list2.gif) no-repeat left center; margin-left:5px;}
.FM-board a:hover{ color:#0055aa;}

/* -------------投票區------------- */
.FM-rbox3{}
.FM-rbox3A{ background-color:#f6f6f6; padding:2px 5px; text-align:right; border-bottom:1px dotted #CCCCCC;}
.FM-rbox3A button{ margin-left:5px;}
.FM-rbox3B{ padding:10px 10px 5px 10px;}
.FM-rbox3B strong{ display:block; font-weight:bold; padding-bottom:5px; font-size:15px; line-height:24px;}
.FM-rbox3 ul{ padding:0 10px 5px 10px;}
.FM-rbox3 input{ margin-right:3px; vertical-align:middle;}
.FM-rbox3 li{ color:#FF6600; padding:2px 0; border-bottom:1px dotted #CCCCCC;}

/* -------------板主管理功能------------- 
.FM-rbox5{ padding:10px;}
.FM-rbox5 strong{ font-size:15px; font-weight:bold; background-color:#f6f6f6; display:block; padding:5px;}
.FM-rbox5 li{ border-bottom:1px dotted #e5e5e5; padding:3px 10px 3px 20px; background:url(https://i2.bahamut.com.tw/forum/icon_red.gif) no-repeat left 8px;}
.FM-rbox5 a{ display:block;}
.FM-rbox5 a:hover{ color:#0055aa;}*/

/* -------------熱門攻略------------- */
.FM-rbox6{ padding:10px 10px 0 10px; line-height:24px; word-break:break-all;}
.FM-rbox6 a{ word-wrap:break-word; word-break:break-all;}
.FM-rbox6 .hotagA{ font-size:15px; font-weight:bold; color:#0055aa;}
.FM-rbox6 .hotagB{ font-size:18px; font-weight:bold; color:#ff6600;}
.FM-rbox6 button{ line-height:18px;}
.FM-rbox6 .BH-slave_more{ border-top:1px dotted #CCCCCC; margin-top:5px;}

/* -------------熱門推薦------------- */
.FM-rbox7{ padding-bottom:10px;}
.FM-rbox7 p{ width:148px; display:inline-block;}
.FM-rbox7 a:hover{ color:#0055aa;}
.FM-rbox7A{ overflow:auto; line-height:18px;  font-size:13px; padding:5px 0; margin:0 10px; word-break:break-all; word-wrap:break-word; border-bottom:1px dotted #CCCCCC;}
.FM-rbox7C{ display:block; width:80px; height:80px; float:right; position:relative; margin-left:10px; background-color:#e5e5e5; border:3px solid #e5e5e5;}
.FM-rbox7C img{ max-width:80px; max-height:80px; position:absolute; margin:auto; top:0; right:0; bottom:0; left:0;}
.FM-rbox7B{ font-weight:bold; color:#0055aa; display:block; margin-bottom:2px;}

/* -------------小屋最新創作------------- */
.FM-rbox8{ text-align:center; font-size:13px;}
.FM-rbox8 p{ display:inline-block; width:120px; margin:10px 7px; vertical-align:top;}
.FM-rbox8 p{ *float:left; *margin-left:20px;}/* IE7*/
.FM-rbox8 a{ color:#0055aa;}
.FM-rbox8 a:first-child{ display:block; width:120px; height:120px; position:relative; background-color:#e5e5e5; margin-bottom:3px;}
.FM-rbox8 img{ max-height:120px; max-width:120px; position:absolute; margin:auto; top:0; right:0; bottom:0; left:0;}
.FM-rbox8 .BH-slave_more{ border-top:1px dotted #CCCCCC; margin:0 10px;}

/* -------------相關公會社團------------- */
.FM-rbox9{}
.FM-rbox9 p{ display:inline-block; width:115px; margin:10px 0 0 22px; text-align:center; vertical-align:top;}
.FM-rbox9 p{ *float:left; *height:85px;}/* IE7*/
.FM-rbox9 a{ display:block; font-size:13px; color:#0055aa;}
.FM-rbox9 img{ margin-bottom:3px; border:3px solid #e5e5e5;}

/* -------------板主推薦連結------------- */
.FM-rbox10 p{ background-color:#f6f6f6; padding:2px 5px; text-align:right; border-bottom:1px dotted #CCCCCC;}
.FM-rbox10 button{ margin-left:5px;}

/* ----------好壞評名單列表(浮動式)---------- */
#msgvotelist{ background-color:#FFFFFF; border:1px solid #e5e5e5; padding:5px; max-width:450px; position:absolute; _width:expression(this.scrollWidth > 450 ? "450px" : "auto");}
#msgvotelist img{ margin:0 5px 5px 0;border:0}

.hala_reward{ width:100%; border:2px solid #e5e5e5;}
.hala_reward td{ border:1px solid #e5e5e5; padding:0 5px;}
.hala_reward input{ width:50px;}

.point{ display:block; text-align:center; background-color:#999999; color:#FFFFFF; padding:5px; margin-top:5px; border-radius:10px; border:2px solid #666666; font-size:13px;}
.point span{ display:block; font-weight:bold; border-bottom:1px dotted #666666; margin-bottom:7px; padding-bottom:3px;}
.point a{ color:#FFFF00;}

/* -------------作品介紹------------- */
.FM-rbox12{ padding:0; overflow:hidden;}
.FM-rbox12 .FM-abox6A{ float:none; padding:0;}
.FM-rbox12 .FM-abox6B{ width:280px; overflow:auto;}
.FM-rbox12 .FM-abox6B>a:first-child{ white-space:normal; overflow:auto; font-size:15px;}
.FM-rbox12 .FM-abox6B>a+a{ width:80px; height:80px;}
.FM-rbox12 .FM-abox6B>a+a img{ max-height:80px; max-width:80px;}
.FM-rbox12 .FM-abox6B p{ width:185px;}
.FM-rbox12 .FM-abox6Bpage{ width:80px;}

/* -------------申請大大------------- */
.dada{ font-family:Arial, Helvetica, sans-serif; text-align:left; font-size:13px !important; }
.dada a{ color:#0055aa; text-decoration:none;}
.dada a:hover{ text-decoration:underline;}
.dada ul{ list-style-type:decimal; padding:0 10px 0 40px;}
.dada_com{ display:block; color:#999999; font-size:13px;}
.dada p>span{ font-weight:bold;}
.dada_acc{ padding:5px 0; text-align:center; display:block; background-color:#f6f6f6; margin:10px 0;}
.dada_acc input{ vertical-align:middle; margin-right:5px;}
.dada_acc a{ margin-left:3px;}
.dada i{ color:#FF0000; font-style:normal;}
.dada textarea{ display:block; width:99%; height:80px; resize:none; padding:2px;}

.dada_btn{ text-align:center; margin-top:10px;}
.dada_btn button{ line-height:18px; margin:0 5px; padding:0 10px;}

/* 大大文章*/
.FM-dadac{ background:url(https://i2.bahamut.com.tw/forum/dadac.png) no-repeat right top;}

/* -------------大大名單-------------*/
.FM-dada{}
.FM-dada table{ width:660px; border:3px solid #d2e2e9; margin:0 auto;}
.FM-dada td{ border:1px solid #d2e2e9; padding:5px; text-align:center;}
.FM-dada img{ vertical-align:middle; margin-right:5px; float:left;}
.FM-dadaA{ color:#0055aa; line-height:20px; white-space:nowrap;}
.FM-dada .FM-dadaB img{ float:none; margin-left:5px;}
.FM-dada tr:first-child{ white-space:nowrap;}
.FM-dada td:first-child{ white-space:nowrap; padding-right:50px;}

/* -------------小精主申請入口------------- */
.FM-rbox14{ padding:10px; line-height:24px; margin-bottom:10px;}
.FM-rbox14 img{ float:left; border:3px solid #e5e5e5; margin-right:5px;}
.FM-rbox14 a{ color:#3e81c6;}
.FM-rbox14-master{ clear: both; overflow: hidden; padding-bottom: 10px; border-bottom: 1px solid #e5e5e5; margin-bottom: 10px;}
.FM-rbox14-master img{ border: none; float: none; vertical-align: middle; height: 30px;}

/* ------------- 板主專用按鈕 ------------- */
.FM-master-btn{}
.FM-master-btn>a{ display: block; width: 100%; line-height: 30px; text-align: center; color: #333; background-color: #7CAEBA; margin: 10px 0 5px 0; border: 1px solid #CCC; border-radius: 3px; font-weight: bold; clear: both; float: left;
    background: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fff 0%, #eee 100%);
    background: -o-linear-gradient(top, #fff 0%,#eee 100%);
    background: -ms-linear-gradient(top, #fff 0%,#eee 100%);
    background: linear-gradient(to bottom, #fff 0%,#eee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
}

.FM-master-btn>a:hover{ background-image: none; background-color: #148aa4; color: #FFF; filter: none; text-decoration: none;}
.FM-master-btnA{ border-bottom: 1px solid #e5e5e5; overflow: hidden; padding-bottom: 5px; margin-bottom: 5px; clear: both;}
.FM-master-btnA li{ float: left; width: 50%; position: relative;}
.FM-master-btnA li:before{ content: ""; display: block; position: absolute; left: 0; top: 8px; border: 4px solid #464646; border-color: transparent transparent transparent #464646;}
.FM-master-btnA a{ display: block; line-height: 2; padding-left: 10px;}

.FM-master-btnB{ clear: both;}
.FM-master-btnB li{ float: left; width: 50%; position: relative;}
.FM-master-btnB li:before{ content: ""; display: block; position: absolute; left: 0; top: 11px; background-color: #464646; width: 4px; height: 4px; border-radius: 50%;}
.FM-master-btnB a{ display: block; line-height: 2; padding-left: 10px;}

.gsc-above-wrapper-area,.gsc-configLabelCell,.gsc-twiddleRegionCell{border:0 !important;}
.FM-blist td .gsc-result-info-container{width: 65%;}
.fmb td:first-child{ white-space:nowrap;}

/* -------------戰友系統------------- */
.FM-rbox15{ padding:10px;}
.FM-rbox15 i{ display:block; width:30px; height:30px; text-align:center; float:left; margin-right:10px; border-radius:50%;}
.FM-rbox15 small{ color:#999999; float:right; font-size:12px;}
.FM-rbox15 em{ display:block; color:#006699; font-weight:bold;}
.FM-rbox15 img{ max-width:30px; max-height:30px;}
.FM-rbox15A{ padding:5px 5px 0 5px; background-color:#f6f6f6; margin-bottom:5px; overflow:hidden; position:relative;}
.FM-rbox15A button{ float:right; width:50px; height:30px; border-radius:3px; border:1px solid #CCC; color:#464646; margin:-15px 0 0 0; background-color:#f6f6f6; position:absolute; right:5px; top:50%;}
.FM-rbox15A button:hover{ color:#FFFFFF; background-color:#999999;}
.FM-rbox15A input{ border:1px solid #CCC; border-radius:3px; margin:0 0 5px 0; vertical-align:top; padding:2px 3px; width:200px; height:24px; outline:none;}
.FM-rbox15A span{ display:block; margin:0 50px 5px 40px;}
.FM-rbox15A a{ display:block; background-color:#FFF; float:left; height:28px; width:35px; border-radius:0 3px 3px 0; border:1px solid #CCC; border-left:0; position:relative;}
.FM-rbox15A:first-child{ background-color:#f9ebc1;}
.FM-rbox15A:nth-child(2) input{ border-right:0; width:225px; border-radius:3px 0 0 3px; float:left;}
.FM-rbox15A:nth-child(2) img{ position:absolute; top:0; right:0; bottom:0; left:0; margin:auto;}
.FM-rbox15A input{ float:left \9; margin-right:-1px \9;}/* IE8 HACK */
.FM-rbox15A img{ margin:5px 0 0 5px \9;}/* IE8 HACK */

.FM-rbox15B{ margin-bottom:10px;min-height:235px;}
.FM-rbox15B p{ display:block; padding:5px 0; border-bottom:1px solid #e5e5e5; overflow:hidden;}
.FM-rbox15B span{ display:block; margin-left:40px;}

.FM-rbox15C{ display:block; clear:both; overflow:hidden; text-align:center;}
.FM-rbox15C a{ display:block; width:50px; line-height:25px; background-color:#f6f6f6; border:1px solid #CCC; border-radius:3px; text-align:center;}
.FM-rbox15C a:hover{ text-decoration:none; color:#FFFFFF; background-color:#999999;}
.FM-rbox15C a:first-child{ float:left;}
.FM-rbox15C a+a{ float:right;}
.FM-rbox15C span{ line-height:27px; font-size:15px; display:block; margin:0 60px;}

.FM-rbox15D{ margin-top:10px; overflow:hidden; border-top:1px solid #e5e5e5; padding-top:10px;}
.FM-rbox15D>img{ max-width:60px; max-height:60px; float:left;}
.FM-rbox15D span{ display:block; margin-left:70px; font-size:18px; font-weight:bold; font-family:"微軟正黑體"; line-height:29px; text-shadow:2px 2px 0 rgba(0,0,0,.2);}
.FM-rbox15D a{ display:inline-block; margin-left:7px;}
.FM-rbox15D a img{ max-width:100px; min-height:30px;}

/*---------哈啦區形象廣告------*/
.hala_ad{width: 300px;height: 600px;position: relative;}
.hala_ad:before{ background: url(https://i2.bahamut.com.tw/forum/forumMarketad.png); width: 65px; height: 19px; display: block; content: " "; position: absolute; right:0; top:0; }

/* ------------- 實況宣傳 ------------- */
.FM-rbox16{ padding: 10px;}
.FM-rbox16A{ padding-bottom: 10px; border-bottom: 1px solid #e5e5e5; text-align: center;}
.FM-rbox16A a{ display: inline-block; line-height: 24px; padding: 0 10px; background-color: #009cad; text-decoration: none; color: #fff; margin: 0 5px; border-radius: 3px;}
.FM-rbox16A a+a{ padding: 0 40px; background-color: #a40000;}

.FM-rbox16B{ padding: 10px 0; border-bottom: 1px solid #e5e5e5;}
.FM-rbox16B a{ color: #3e81c6;}
.FM-rbox16B>a{ display: block; width: 266px; height: 149px; position: relative; margin: 0 auto; background-color: #e5e5e5; color: inherit; border: 5px solid #e5e5e5;}
.FM-rbox16B img{ width:266px; display: block; max-height: 150px;}
.FM-rbox16B h2{ text-align: center; padding-top: 3px; width: 266px; margin: 0 auto; white-space: nowrap; overflow: hidden;}
.FM-rbox16B span{ display: block; background-color: rgba(255,255,255,.7); text-align: right; position: absolute; padding: 2px 10px; box-sizing: border-box; right: 0; bottom: 0; border-radius: 10px 0 0 0; text-shadow: 1px 1px 0px rgba(255,255,255,1);}
.FM-rbox16B i{ margin-right: 5px;}
.FM-rbox16B i+i{ margin-left: 10px;}

.FM-rbox16C{ margin-bottom: 10px;}
.FM-rbox16C li{ display: block; overflow: hidden; border-bottom: 1px solid #e5e5e5; padding: 5px 0;}
.FM-rbox16C img{ width:100px; display: block;}
.FM-rbox16C h2{ height: 37px; overflow: hidden;}
.FM-rbox16C a{ color: #3e81c6;}
.FM-rbox16C li>a{ width: 100px; height: 56px; display: block; background-color: #e5e5e5; float: left; margin-right: 5px;}
.FM-rbox16C p{ color: #999; text-align: right;}
.FM-rbox16C i{ margin-right: 3px;}
.FM-rbox16C i+i{ margin-left: 10px;}
