@keyframes "floating" {
 from {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
 }
 65% {
    -webkit-transform: translate(0, 15px);
    -moz-transform: translate(0, 15px);
    -o-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    transform: translate(0, 15px);
 }
 to {
    -webkit-transform: translate(0, -0px);
    -moz-transform: translate(0, -0px);
    -o-transform: translate(0, -0px);
    -ms-transform: translate(0, -0px);
    transform: translate(0, -0px);
 }

}

@-moz-keyframes floating {
 from {
   -moz-transform: translate(0, 0px);
   transform: translate(0, 0px);
 }
 65% {
   -moz-transform: translate(0, 15px);
   transform: translate(0, 15px);
 }
 to {
   -moz-transform: translate(0, -0px);
   transform: translate(0, -0px);
 }

}

@-webkit-keyframes "floating" {
 from {
   -webkit-transform: translate(0, 0px);
   transform: translate(0, 0px);
 }
 65% {
   -webkit-transform: translate(0, 15px);
   transform: translate(0, 15px);
 }
 to {
   -webkit-transform: translate(0, -0px);
   transform: translate(0, -0px);
 }

}

@-ms-keyframes "floating" {
 from {
   -ms-transform: translate(0, 0px);
   transform: translate(0, 0px);
 }
 65% {
   -ms-transform: translate(0, 15px);
   transform: translate(0, 15px);
 }
 to {
   -ms-transform: translate(0, -0px);
   transform: translate(0, -0px);
 }

}

@-o-keyframes "floating" {
 from {
   -o-transform: translate(0, 0px);
   transform: translate(0, 0px);
 }
 65% {
   -o-transform: translate(0, 15px);
   transform: translate(0, 15px);
 }
 to {
   -o-transform: translate(0, -0px);
   transform: translate(0, -0px);
 }

}
