div.dynamically h2{margin:50px 0px 10px 0px;clear:both;}
div.dynamically table{width:100%;max-width:853px;border-collapse:separate;}
div.dynamically table th{font-family:Roboto,Arial,sans-serif;border:1px solid #d3d6d9;padding:3px 0px;background-color:#f3f6f9;font-weight:normal;}
div.dynamically table th b{font-weight:normal;color:#669900;}
div.dynamically table th span{font-family:"微軟正黑體","STHeitiTC-Light",Arial,sans-serif;font-size:12px;display:block;}
div.dynamically table th strong{color:red;font-weight:normal;}
div.dynamically table td{border:1px solid #d3d6d9;padding:2px 6px;font-family:Roboto,Arial,sans-serif;}
div.dynamically table td:first-child{color:#cc6600;text-align:right;}
div.dynamically table td:nth-child(3){text-align:right;}
div.dynamically table td:nth-child(4){text-align:center;}
div.dynamically table.D2 td:first-child{width:20%;}
div.dynamically table.D2 td:last-child{width:80%;}
div.dynamically table.D4 td:first-child{width:10%;}
div.dynamically table.D4 td:nth-child(1n+2){width:30%;}
div.dynamically h3 b.steps{font-size:24px;color:#dd3300;}
div.dynamically p b.sql{color:#0095dd;}
div.dynamically p b.g{color:#669900;}
div.dynamically p b.n{color:red;}
div.dynamically p b.o{font-size:16px;color:#cc6600;}
@media(max-width:500px){
div.dynamically table.D2 td:first-child{width:40%;}
div.dynamically table.D2 td:last-child{width:60%;}
}