div.textually h1{margin:20px 0 5px;font-size:30px;font-weight:400;letter-spacing:-1px;line-height:34px;color:#596470}
div.textually h1 a{color:#0095dd}
div.textually h1 b{font-family:Roboto,Arial,sans-serif;font-size:32px}
div.textually h1 strong{font-family:Roboto,Arial,sans-serif;font-size:32px;font-weight:400;letter-spacing:-1px}
div.textually h1 span{margin:0 0 0 3px;display:inline-block}
div.textually h2{margin:10px 0 0;font-size:24px;color:#508555}
div.textually h2 b{font-family:Roboto,Arial,sans-serif;font-weight:400}
div.textually h2 strong{font-family:Roboto,Arial,sans-serif}
div.textually h2 a.go{padding:0 0 0 24px;color:#0095dd;background:url(../images/ga-arrow.png) no-repeat 3px center;display:inline-block}
div.textually h2 a:hover{color:#508555}
div.textually h3{margin:10px 0;color:#607080;font-size:20px}
div.textually h3 b{font-family:Roboto,Arial,sans-serif;font-weight:400}
div.textually h3 strong{font-family:Roboto,Arial,sans-serif}
div.textually h4{margin:10px 0 0;color:#607080;font-size:20px;line-height:28px}
div.textually h4 b{font-family:Roboto,Arial,sans-serif;font-weight:400}
div.textually p{margin:0 20px 15px 3px;line-height:24px}
div.textually p.memo{font-size:13px;color:#636669;line-height:18px}
div.textually p.result{font-size:18px;color:#c60;line-height:26px}
div.textually p.steps b.next{background:url(../images/ga-arrow.png) no-repeat center;width:16px;height:16px;vertical-align:-2px;display:inline-block}
div.textually p.steps b.finish{background:url(../images/ga-finish.png) no-repeat center;width:16px;height:16px;vertical-align:-2px;display:inline-block}
div.textually p.cn{text-align:center}
div.textually p a{color:#0095dd;display:inline-block;transition:background .1s linear}
div.textually p a:hover{color:#508555}
div.textually p a.go{padding:0 0 0 24px;background:url(../images/ga-arrow.png) no-repeat 3px 6px}
div.textually p a.go:hover{background-position:8px 6px}
div.textually p a.go b{padding:0 3px;font-size:13px}
div.textually p a.download{padding:0 30px;line-height:36px;color:#fff;background-color:#508555;transition:all .15s linear}
div.textually p a.download:hover{color:#fff;background-color:#915957}
div.textually p b{font-family:Roboto,Arial,sans-serif;font-weight:400}
div.textually p b.os{font-family:Roboto,sans-serif;padding:1px 6px;font-size:13px;line-height:18px;color:#fff;background-color:#0095dd;display:inline-block;top:-2px;position:relative}
div.textually p b.om{min-width:40px;font-family:Roboto,sans-serif;padding:1px 0;font-size:17px;line-height:20px;color:#fff;text-align:center;background-color:#508555;display:inline-block}
div.textually p code{padding:0 8px;font-family:Roboto,Arial,sans-serif;line-height:22px;color:#fff;background-color:#c60;border-radius:6px;display:inline-block}
div.textually p button{font-family:"微軟正黑體","STHeitiTC-Medium",Arial,sans-serif;font-size:14px;line-height:26px;height:28px;box-sizing:content-box;display:inline-block;vertical-align:middle}
div.textually p button.btn{padding:0 10px;background-color:#d3d6d9;border:1px solid #d3d6d9;vertical-align:1px;transition:all .15s linear}
div.textually p button.btn:hover{color:#f3f6f9;background-color:#508555;border:1px solid #508555;cursor:pointer}
div.textually img[class|="shadow"]{width:98%;border:8px solid #fff;box-shadow:1px 1px 10px rgba(0,0,0,0.35);display:block;box-sizing:border-box}
div.textually img.shadow-left{margin:0 0 0 1%}
div.textually img.shadow-center{margin:0 auto}
div.textually img.spring-left{width:100%;display:block}
div.textually img.spring-center{width:100%;margin:0 auto;display:block}
div.textually img.float-right{float:right}
div.textually img.float-margin{margin:0 20px 10px}
div.textually div.retain-group{width:100%;overflow-x:auto;overflow-y:hidden}
div.textually hr{border-color:#e3e6e9;border-style:dotted;border-width:12px 0 0;clear:both;height:0;margin:30px 20px 30px 5px}
div.textually ul.items{margin:0 0 0 5px;list-style:none}
div.textually ul.items li{padding:2px 0}
div.textually ul.items li.guild{font-size:18px;color:#c60;line-height:24px}
div.textually ul.items li span{color:#c60}
div.textually ul.items li b{font-family:Arial,sans-serif;font-weight:400}
div.textually ul.result{margin:10px 0 0 10px;list-style:none}
div.textually ul.result li{padding:3px 0;font-family:Arial,sans-serif;font-size:13px}
div.textually ul.result li span{padding:0 5px;color:#c60;display:inline-block}
div.textually ul.arrange{width:95%;max-width:700px;margin:10px 0 0}
div.textually ul.arrange li{width:33%;margin:0 .3% 0 0;display:inline-block;position:relative}
div.textually ul.arrange li img{width:100%;max-width:230px;display:block}
div.textually ul.arrange li span{padding:0 5px;font-family:Roboto,Arial,sans-serif;font-size:20px;color:#c60;position:absolute;bottom:10px;left:10px}
div.textually ul.arrange li span:after{content:"TYPE";padding:0 0 0 5px;font-size:12px}
div.textually ul.thumbnail{margin:0 0 30px;list-style:none}
div.textually ul.thumbnail li{text-align:center;display:inline-block}
div.textually ul.thumbnail li a{margin:0 0 0 3px;color:#333639;display:block}
div.textually ul.thumbnail li a:hover{color:#508555}
div.textually ul.thumbnail li a span{margin:6px 0 0;font-size:12px;display:block}
div.textually ul.thumbnail li a img{box-shadow:1px 1px 5px rgba(0,0,0,0.2);display:block}
div.textually ul.larges li a img{padding:20px}
div.textually ul.middles li a img{padding:10px}
div.textually pre.result{margin:0;padding:0 0 10px 20px;font-family:Roboto,Arial,sans-serif;font-size:16px;color:#c60;font-style:normal;line-height:24px}
div.video-responsive{width:100%;max-width:780px;position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden}
div.video-responsive iframe,div.video-responsive object,div.video-responsive embed{position:absolute;top:0;left:0;width:100%;height:100%}
div.SWFcontent{position:relative}
div.SWFcontent:after{content:"Flash Cannot be loaded.";width:100%;height:50px;font-size:16px;color:#fff;line-height:50px;text-align:center;background-color:rgba(0,0,0,0.35);position:absolute;bottom:80px;left:0}
div.fluid-two-group{width:100%;max-width:720px;display:table;border-collapse:collapse}
div.fluid-two-group div.fluid-cell{display:table-cell;vertical-align:top}
div.fluid-two-group div.fluid-written{padding:0 0 0 20px}
div.related-topic{margin:30px 0 60px}
div.related-topic ul{list-style:none}
div.related-topic ul li a{padding:15px 0 15px 15px;color:#0095dd;display:block;position:relative;transition:all .15s linear}
div.related-topic ul li a:hover{padding-left:20px;color:#398555;background-color:#f6f9fc}
div.related-topic ul li:nth-child(1n+2) a{border-top:1px dashed #e0e3e6}
div.related-topic ul li a strong{font-size:18px;line-height:30px;font-weight:400;display:block}
div.related-topic ul li a span{padding:0 0 0 3px;font-size:13px;color:#838689;display:block}
div.reply-topic{position:relative}
div.reply-topic div.publish-member{margin:0 0 30px;padding:0 8px 0 0;text-align:right}
div.reply-topic div.publish-member *{font-size:13px;color:#535659;line-height:22px;display:inline-block}
div.reply-topic div.publish-member b{padding:0 6px;font-family:Arial,sans-serif;font-weight:400}
div.reply-topic div.textually:nth-child(2n+3){border-top:1px dashed #e0e3e6}
div.reply-topic div.baked{display:none}
div.post-topic form p{height:35px;font-size:24px;color:#838689}
div.post-topic form a,div.post-topic form span{margin:1px 1px 0 0;width:180px;height:46px;line-height:46px;color:#333639;text-align:center;background-color:#f3f6f9;border:1px solid #e0e3e6;display:inline-block;transition:all .2s linear}
div.post-topic form a:hover{color:#f3f6f9;background-color:#508555;box-shadow:inset 0 0 24px 0 rgba(0,0,0,0.3)}
div.post-topic form span:hover{color:#f3f6f9;background-color:#508555;box-shadow:inset 0 0 24px 0 rgba(0,0,0,0.3);cursor:pointer}
div.post-topic form textarea{margin:0;padding:9px;width:98%;background-color:#fff;border:1px solid #e0e3e6;min-height:150px;max-height:600px;resize:vertical;box-sizing:border-box;transition:background .35s linear}
div.post-topic form textarea.zh-tw{font-family:"微軟正黑體","STHeitiTC-Medium",Arial,sans-serif;font-size:16px;color:#131619}
div.domintro p.create-date{margin:60px 30px 0 0;font-family:Roboto,Arial,sans-serif;font-size:12px;color:#838689;text-align:right}
div.domintro p.create-date span:before{content:attr(data-delicate)}
div.domintro div.mobile-parameters{padding:0 0 20px;text-align:center;display:none}
@media(min-width:1201px){
div.domintro p.create-date{margin-right:60px}
}
@media(min-width:1120px){
div.textually p span{display:block}
}
@media(min-width:960px){
div.post-topic{margin:0 0 200px}
div.reply-topic:before{content:attr(data-reply);width:52px;height:52px;line-height:50px;text-align:center;font-family:Roboto,Arial,sans-serif;color:#fff;font-size:26px;background-color:#dfdfe1;top:-60px;left:0;border-radius:28px;position:absolute}
div.related-topic{margin:120px 0}
}
@media(min-width:768px) and (max-width:959px){
div.post-topic{margin:0 0 50px}
div.post-topic form textarea{width:100%}
div.textually p span{display:block}
}
@media(max-width:767px){
div.textually h1{font-size:24px}
div.textually h1 b{font-size:25px}
div.textually h1 strong{font-size:25px}
div.textually h2{font-size:18px}
div.textually h4{font-size:16px}
div.textually ul.items li.guild{font-size:16px;line-height:20px}
div.textually img[class|="shadow"]{width:99%;border-width:5px}
div.textually img.shadow-left{margin:0 0 0 .5%}
div.textually img.for-large{display:none}
div.textually p{margin:0 3px 15px;font-size:16px}
div.textually{margin:0 20px}
div.textually pre.result{padding:0 0 20px;white-space:normal}
div.related-topic{margin:30px 0;padding:10px 0;border-top:10px solid #e9eaee}
div.reply-topic div.publish-member{padding:0 25px 0 0}
div.textually ul.arrange{width:100%}
div.textually ul.arrange li{width:49.5%}
div.textually ul.arrange li img{width:100%;max-width:none}
div.fluid-two-group{max-width:none;display:block}
div.fluid-two-group div.fluid-cell{width:100%;display:block}
div.fluid-two-group div.fluid-written{padding:0 20px 0 0}
div.domintro div.mobile-parameters{display:block}
}
@media(max-width:520px){
div.textually img.float-right{margin:0 auto;float:none;display:block}
div.textually h2 span{display:block}
div.textually p.aj{text-align:justify}
}
@media(max-width:480px){
div.textually h1 span{margin:0;display:block}
div.textually ul.arrange li{width:100%;margin:0}
}
@media(max-width:340px){
div.textually h1 b{font-variant:small-caps;letter-spacing:0;display:block}
div.textually h1 strong.c{display:block}
}
div.picture-fluid{width:100%;max-width:720px}
div.picture-fluid ul{margin:0;list-style:none}
div.picture-fluid ul li{display:inline-block;vertical-align:top;background-color:#eee}
div.picture-fluid ul li a{width:100%;height:120px;font-size:13px;border:1px solid #fff;display:block;box-sizing:border-box;transition:all .25s linear}
div.picture-fluid ul li a:hover{border:1px solid #508555}
div.picture-fluid ul.C6 li{width:16.66%}
div.picture-fluid ul.C4 li{width:25%}
div.picture-fluid ul.C3 li{width:16.66%}
div.picture-fluid ul li.G1018{background:url(../Graphics/Icon/G1026.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1024{background:url(../Graphics/Icon/G1024.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1026{background:url(../Graphics/Icon/G1026.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1033{background:url(../Graphics/Icon/G1094.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1040{background:url(../Graphics/Icon/G1026.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1086{background:url(../Graphics/Icon/G1093.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1104{background:url(../Graphics/Icon/G1094.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1105{background:url(../Graphics/Icon/G1094.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1106{background:url(../Graphics/Icon/G1026.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1107{background:url(../Graphics/Icon/G1093.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1108{background:url(../Graphics/Icon/G1094.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1093{background:url(../Graphics/Icon/G1093.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1094{background:url(../Graphics/Icon/G1094.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1095{background:url(../Graphics/Icon/G1095.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1096{background:url(../Graphics/Icon/G1096.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1097{background:url(../Graphics/Icon/G1097.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1098{background:url(../Graphics/Icon/G1098.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1099{background:url(../Graphics/Icon/G1099.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1064{background:url(../Graphics/Icon/G1094.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1066{background:url(../Graphics/Icon/G1094.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1069{background:url(../Graphics/Icon/G1026.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1084{background:url(../Graphics/Icon/G1084.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1087{background:url(../Graphics/Icon/G1087.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1088{background:url(../Graphics/Icon/G1088.jpg) no-repeat center;background-size:cover}
div.picture-fluid ul li.G1093{background:url(../Graphics/Icon/G1093.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1094{background:url(../Graphics/Icon/G1094.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1095{background:url(../Graphics/Icon/G1095.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1096{background:url(../Graphics/Icon/G1096.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1097{background:url(../Graphics/Icon/G1097.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1098{background:url(../Graphics/Icon/G1098.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1099{background:url(../Graphics/Icon/G1099.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1104{background:url(../Graphics/Icon/G1104.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1105{background:url(../Graphics/Icon/G1105.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1106{background:url(../Graphics/Icon/G1106.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1107{background:url(../Graphics/Icon/G1107.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1108{background:url(../Graphics/Icon/G1108.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1062{background:url(../Graphics/Icon/G1062.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1064{background:url(../Graphics/Icon/G1064.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1066{background:url(../Graphics/Icon/G1066.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1069{background:url(../Graphics/Icon/G1069.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1084{background:url(../Graphics/Icon/G1084.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1087{background:url(../Graphics/Icon/G1087.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1088{background:url(../Graphics/Icon/G1088.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1092{background:url(../Graphics/Icon/G1092.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1020{background:url(../Graphics/Icon/G1020.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1063{background:url(../Graphics/Icon/G1063.png) no-repeat center #e3e6e9;background-size:contain}
div.picture-fluid ul li.G1065{background:url(../Graphics/Icon/G1065.png) no-repeat center #e3e6e9;background-size:contain}
@media(min-width:960px) and (max-width:1050px){
div.picture-fluid ul.C6 li{width:25%}
}
@media(max-width:700px){
div.picture-fluid ul.C6 li{width:25%}
div.picture-fluid ul.C3 li{width:33.33%}
}
@media(max-width:460px){
div.picture-fluid ul.C6 li{width:33.33%}
div.picture-fluid ul.C4 li{width:50%}
}
@media(max-width:400px){
div.picture-fluid ul.C3 li{width:50%}
}
@media(max-width:320px){
div.picture-fluid ul.C6 li{width:50%}
}