/* setup */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

.hide {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

/* Banner Styles */
#banner {
  position: relative;
  width: 160px;
  height: 600px;
  border: solid 1px #000;
  overflow: hidden;
  background-color: #202124;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  #banner .bannerClick {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"); }
  #banner .reference {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0; }
  #banner .endframeBG {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0; }
  #banner .logo_holder {
    position: absolute;
    left: 36px;
    top: 20px;
    width: 84px;
    height: 50px;
    text-align: center; }
    #banner .logo_holder .logo {
      position: absolute;
      display: block;
      top: 0px; }
    #banner .logo_holder .logo_asset {
      position: absolute;
      display: block;
      bottom: 0px;
      left: 0px; }
    #banner .logo_holder .black {
      opacity: 0; }
    #banner .logo_holder .white {
      opacity: 1; }
  #banner .cta_holder {
    position: absolute;
    top: 218px;
    right: 14px;
    width: 128px;
    height: 38px;
    text-align: center; }
    #banner .cta_holder .cta_background {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 24px;
      /* IE 9 */
      -webkit-transform-origin: 50% 50%;
      /* Chrome, Safari, Opera */
      transform-origin: 50% 50%;
      will-change: transform, color;
      background-color: #da2128; }
    #banner .cta_holder .cta_text {
      position: absolute;
      left: 0px;
      width: 100%;
      color: white;
      will-change: transform; }
  #banner .maincopy {
    position: absolute;
    top: 66px;
    width: 100%;
    height: 100px;
    text-align: center;
    color: white;
    font-size: 14px; }
  #banner .frame3 {
    color: #202124 !important;
    top: 106px; }
  #banner .woman {
    position: absolute;
    right: 0px;
    top: 0px; }
  #banner .product {
    position: absolute;
    right: -184px;
    top: 310px;
    opacity: 0;
    will-change: transform; }
